<div class="row u-rel news-row">
  <div class="col col--6-of-12">
    <h1>Latest news</h1>
  </div>
  <div class="col col--6-of-12 date-picker">
    <datepicker
      placeholder="Select start date"
      v-model="startDate"
    ></datepicker>
    <datepicker placeholder="Select end date" v-model="endDate"></datepicker>
  </div>
</div>
<div class="row">
  <a v-cloak v-for="news, index in newsDataLimited" v-bind:href="news.url">
    <div class="col col--1-of-3 news-item">
      <div class="inner">
        <div
          v-if="news.images[0]"
          v-bind:style="{ 'background-image': 'url(' + news.images[0].url + ')' }"
          class="image has-image"
        ></div>
        <div v-else class="image"></div>
      </div>
      <p>@{news.title}</p>
      <!-- <p>@{news.postDate.date.split(' ')[0]}</p> -->
    </div>
  </a>
</div>
<div class="row">
  <div class="col col--12-of-12 u-text-center">
    <div v-if="newsLoading" id="loader-cont">
      <div class="circle">
        <div></div>
      </div>
    </div>
    <button
      v-show="newsRemaining && !newsLoading && !datesSelected"
      v-on:click="loadMoreNews()"
      class="newsload button__blue button"
    >
      <div class="text">Load more</div>
    </button>
  </div>
</div>
