/** Base is in effect globals defaults
I.E. Normalise, generic HTML/UL/P stylings that are
the defaults across each page. This will include max widths etc that you use on
most if not all pages **/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
  ========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
    line-height: $lineHeight; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections 
    ========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
    margin: 0;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
    @extend .font-large-include;
    margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
    font-family: monospace, monospace; /* 1 */
    @extend .font-medium-include; /* 2 */
}

/* Text-level semantics
    ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
    background-color: transparent;
}
p {
    margin-bottom: 10px;
}
/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
    font-weight: 900 !important;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    @extend .font-medium-include; /* 2 */
}
.font-medium {
    @extend .font-medium-include; /* 2 */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    a {
        @extend .font-medium-include; /* 2 */
    }
}
.font-xlarge {
    @extend .font-xlarge-include; /* 2 */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    a {
        @extend .font-xlarge-include; /* 2 */
    }
}
.bold-lilac {
    strong {
        font-family: "Mukta", sans-serif;
        color: $lilac;
        a {
            color: $lilac;
        }
    }
}
.bold-blue {
    strong {
        font-family: "Mukta", sans-serif;
        color: $blue;
        a {
            color: $blue;
        }
    }
}
.bold-green {
    strong {
        font-family: "Mukta", sans-serif;
        color: $green;
        a {
            color: $green;
        }
    }
}
.bold-yellow {
    strong {
        font-family: "Mukta", sans-serif;
        color: $yellow;
        a {
            color: $yellow;
        }
    }
}
/**
* Add the correct font size in all browsers.
*/

small {
    @extend .font-sm-med-include;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
    ========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
    border-style: none;
}

/* Forms
    ========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: $lineHeight; /* 1 */
    margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input {
    /* 1 */
    overflow: visible;
}
li {
    list-style-type: none;
}
/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
    /* 1 */
    text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
    vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
    overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
    display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
    display: list-item;
}

/* Misc
    ========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
    display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
    display: none;
}

/** Global stylings **/
html,
body {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    color: $black;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
    font-family: "Mukta", sans-serif;
    // line-height: $lineHeight;
    margin: 0px;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
    font-family: "Mukta", sans-serif;
}
.underline {
    border-bottom: 1px solid $black;
}
.font-acta {
    font-family: "Acta" !important;
}
p,
a,
button,
label,
li {
    @extend .font-small-include;
    // line-height: $lineHeight;
}
button {
    @extend .font-small-include;
    letter-spacing: 1;
}
p,
h2 {
    margin-bottom: 15px;
}

h1 {
    @extend .font-xlarge-include;
}
h2 {
    @extend .font-large-include;
}

h3 {
    @extend .font-sm-med-include;
}

.font-large {
    @extend .font-large-include;
    p {
        @extend .font-large-include;
    }
}

.font-larger {
    @extend .font-larger-include;
    p {
        @extend .font-larger-include;
    }
}

.font-medium {
    @extend .font-medium-include;
    p {
        @extend .font-medium-include;
    }
}
.font-sm-medium {
    @extend .font-sm-med-include;
}
.u-semi-bold {
    font-family: "Mukta", sans-serif;
    strong {
        font-family: "Mukta", sans-serif;
    }
}
.u-bold,
strong {
    // color:  #3C3C3C;
    font-family: "Mukta", sans-serif;
    font-weight: 900;
}

a {
    color: $black;
    &:hover {
        color: $black;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

ul {
    padding-left: 0px;
}
:focus {
    outline: 0;
}
#app {
    overflow: hidden;
}
.cream-bg {
    background-color: $cream;
    color: $grey;
    font-family: "Mukta", sans-serif;
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $grey;
        font-family: "Mukta", sans-serif;
    }
}

// ****** Start of Custom Classes ******* //
/** Extends/commnly used **/
.u-margin-center {
    margin: 0 auto;
}

/** Max Widths **/

.u-max-xl {
    max-width: 1680px;
    margin: 0 auto;
    @extend .u-margin-center;
}
.u-max-l {
    max-width: 1680px;
    margin: 0 auto;
    @extend .u-margin-center;
}
.u-max-m {
    max-width: $maxWidth * 1;
    margin: 0 auto;
    @extend .u-margin-center;
}
.u-max-s {
    max-width: $maxWidth * 0.9;
    margin: 0 auto;
    @extend .u-margin-center;
}
.u-max-xs {
    max-width: $maxWidth * 0.6;
    margin: 0 auto;
    @extend .u-margin-center;
}

// *** Display flex *** //
.u-flex {
    display: flex;
}
.u-flex__space {
    justify-content: space-between;
}
.u-flex__center {
    justify-content: center;
    align-items: center;
}
.u-flex__align-center {
    align-items: center;
}
.u-flex__wrap {
    flex-wrap: wrap;
}
.u-flex-column {
    flex-direction: column;
}
.u-flex-flow {
    flex-flow: row nowrap;
}
.u-text-left {
    text-align: left;
}
.u-text-center {
    text-align: center;
}
.u-mobile-center {
    @include mobile-break {
        text-align: center !important;
    }
}
.u-text-right {
    text-align: right;
}
.white-text {
    color: $white;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }
}
.lilac-text {
    color: $lilac;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $lilac;
    }
}
// *** Absolute Positioning *** //
.u-relative {
    margin: 0 auto;
    position: relative;
}
.u-rel {
    position: relative;
}
.u-abs {
    margin: 0 auto;
    position: absolute;
}
.u-abs__center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @extend .u-abs;
}
.u-abs__v-center {
    transform: translateY(-50%);
    top: 50%;
    @extend .u-abs;
}
.u-abs__h-center {
    transform: translateX(-50%);
    left: 50%;
    @extend .u-abs;
}
// *** Background ***//
.u-background {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}
.u-background-cover {
    @extend .u-background;
    background-size: cover;
}
.u-display-inline {
    display: inline-block;
}
.u-backgroundFull {
    overflow: hidden;
    vertical-align: middle;
    height: auto;
    position: relative;
    display: inline-block;
    width: 100%;
    video,
    iframe,
    img {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}
.vm {
    vertical-align: middle;
}
// Padding/ Margin
.u-padding-l {
    padding: 140px;
    @include mobile-break {
        padding: 30px;
    }
    @include mobile {
        padding: 20px;
    }
}
.u-padding {
    padding: 35px;
    @include mobile-break {
        padding: 30px;
    }
    @include mobile {
        padding: 20px;
    }
}
.u-padding-s {
    padding: 20px;
}
.u-padding-top-xxl {
    padding-top: 300px;
    @include mobile-break {
        padding-top: 30px;
    }
    @include mobile {
        padding-top: 20px;
    }
}
.u-padding-top-xl {
    padding-top: 250px;
    @include mobile-break {
        padding-top: 30px;
    }
    @include mobile {
        padding-top: 20px;
    }
}
.padding-top-break-early {
    @media (max-width: 1100px) {
        padding-top: 140px;
    }
    @include mobile-break {
        padding-top: 30px;
    }
    @include mobile {
        padding-top: 20px;
    }
}
.u-padding-top-l {
    padding-top: 178px;
    @include mobile-break {
        padding-top: 80px;
    }
    @include mobile {
        padding-top: 50px;
    }
}
.u-padding-top-m {
    padding-top: 60px;
    @include mobile-break {
        padding-top: 30px;
    }
    @include mobile {
        padding-top: 20px;
    }
}
.u-padding-top {
    padding-top: 35px;
    @include mobile-break {
        padding-top: 30px;
    }
    @include mobile {
        padding-top: 20px;
    }
}
.u-padding-top-s {
    padding-top: 20px;
}
.u-padding-top-xs {
    padding-top: 10px;
}
.u-padding-bottom-xxl {
    padding-bottom: 300px;
    @include mobile-break {
        padding-bottom: 30px;
    }
    @include mobile {
        padding-bottom: 20px;
    }
}
.u-padding-bottom-xl {
    padding-bottom: 250px;
    @include mobile-break {
        padding-bottom: 30px;
    }
    @include mobile {
        padding-bottom: 20px;
    }
}
.padding-bottom-break-early {
    @media (max-width: 1100px) {
        padding-bottom: 140px;
        padding-bottom: 0px;
    }
    @include mobile-break {
        padding-bottom: 30px;
    }
    @include mobile {
        padding-bottom: 20px;
    }
}
.u-padding-bottom-l {
    padding-bottom: 178px;
    @include mobile-break {
        padding-bottom: 178px * 0.7;
    }
    @include mobile {
        padding-bottom: 178px * 0.45;
    }
}
.u-padding-bottom {
    padding-bottom: 35px;
    @include mobile-break {
        padding-bottom: 50px;
    }
    @include mobile {
        padding-bottom: 30px;
    }
}

.u-padding-bottom-s {
    padding-bottom: 20px;
}
.u-padding-bottom-xs {
    padding-bottom: 10px;
}
.u-padding-left {
    padding-left: 35px;
    @include mobile-break {
        padding-left: 30px;
    }
    @include mobile {
        padding-left: 20px;
    }
}

.u-padding-left-xs {
    padding-left: 10px;
    // site pad
    padding-left: 185px;
    @media (max-width: 1300px) {
        padding-left: 75px;
    }
    @include mobile-break {
        padding-left: 30px;
    }
    @include mobile {
        padding-left: 20px;
    }
}

.u-padding-left-home {
    padding-left: 10px;
    // site pad
    padding-left: 185px;
    @media (max-width: 1300px) {
        padding-left: 75px;
    }
    @include mobile-break {
        padding-left: 30px;
    }
    @include mobile {
        padding-left: 20px;
    }
}

.u-padding-right-xs {
    // padding-right: 10px;
    padding-right: 185px;
    @media (max-width: 1300px) {
        padding-right: 75px;
    }
    @include mobile-break {
        padding-right: 30px;
    }
    @include mobile {
        padding-right: 20px;
    }
}

.u-padding-right {
    // site pad
    padding-right: 185px;

    @include mobile-break {
        padding-right: 30px;
    }
    @include mobile {
        padding-right: 20px;
    }
}
.u-padding-vertical {
    padding: 35px 0px;
    @include mobile-break {
        padding: 30px 0px;
    }
    @include mobile {
        padding: 20px 0px;
    }
}
.u-padding-horizontal {
    padding: 0px 35px;
    @include mobile-break {
        padding: 0px 30px;
    }
    @include mobile {
        padding: 0px 20px;
    }
}
.u-padding-remove-top {
    padding-top: 0px !important;
}
.u-padding-remove-right {
    padding-right: 0px !important;
}
.u-padding-remove-bottom {
    padding-bottom: 0px !important;
}
.u-padding-remove-left {
    padding-left: 0px !important;
}
// Margin begins
.u-margin-l {
    margin: 140px;
    @include mobile-break {
        margin: 30px;
    }
    @include mobile {
        margin: 20px;
    }
}
.u-margin {
    margin: 35px;
    @include mobile-break {
        margin: 30px;
    }
    @include mobile {
        margin: 20px;
    }
}
.u-margin-s {
    margin: 20px;
}
.u-margin-vertical {
    margin: 35px 0px;
    @include mobile-break {
        margin: 30px 0px;
    }
    @include mobile {
        margin: 20px 0px;
    }
}
.u-margin-horizontal {
    margin: 0px 35px;
    @include mobile-break {
        margin: 0px 30px;
    }
    @include mobile {
        margin: 0px 20px;
    }
}
.u-margin-remove-top {
    margin-top: 0px !important;
}
.u-margin-remove-right {
    margin-right: 0px !important;
}
.u-margin-remove-bottom {
    margin-bottom: 0px !important;
}
.u-margin-remove-left {
    margin-left: 0px !important;
}
.u-margin-top-l {
    margin-top: 140px;
    @include mobile-break {
        margin-top: 80px;
    }
    @include mobile {
        margin-top: 30px;
    }
}
.u-margin-top {
    margin-top: 35px;
    @include mobile-break {
        margin-top: 30px;
    }
    @include mobile {
        margin-top: 20px;
    }
}
.u-margin-top-s {
    margin-top: 20px;
}
.u-margin-bottom-l {
    margin-bottom: 140px;
    @include mobile-break {
        margin-bottom: 80px;
    }
    @include mobile {
        margin-bottom: 30px;
    }
}
.u-margin-bottom {
    margin-bottom: 35px;
    @include mobile-break {
        margin-bottom: 30px;
    }
    @include mobile {
        margin-bottom: 20px;
    }
}
.u-margin-bottom-s {
    margin-bottom: 20px;
}
.u-margin-left-l {
    margin-left: 140px;
    @include mobile-break {
        margin-left: 30px;
    }
    @include mobile {
        margin-left: 20px;
    }
}
.u-margin-left {
    margin-left: 35px;
    @include mobile-break {
        margin-left: 30px;
    }
    @include mobile {
        margin-left: 20px;
    }
}
.u-margin-left-s {
    margin-left: 20px;
}
.u-margin-right-l {
    margin-right: 140px;
    @include mobile-break {
        margin-right: 30px;
    }
    @include mobile {
        margin-right: 20px;
    }
}
.u-margin-remove-right {
    margin-right: 0px !important;
}
.u-margin-right {
    margin-right: 35px;
    @include mobile-break {
        margin-right: 30px;
    }
    @include mobile {
        margin-right: 20px;
    }
}
.u-margin-right-s {
    margin-right: 20px;
}

.mobile-hide {
    @include mobile-break {
        display: none;
    }
}
.mobile-show {
    display: none;
    @include mobile-break {
        display: block;
    }
}

.u-block {
    display: block;
}
.u-full-height {
    height: 100%;
}
.mobile-oh {
    @media (max-width: 1000px) {
        overflow: hidden;
    }
}
.font-thin {
    font-family: "Mukta", sans-serif;
    p {
        font-family: "Mukta", sans-serif;
    }
}
