.break-late {
  .col--1-of-3 {
    @media (max-width: 700px) {
      width: 33%;
      display: inline-block;
    }
    @media (max-width: 400px) {
      width: 100%;
      display: inline-block;
    }
  }
}

.large-heading {
  p {
    font-family: "Acta", sans-serif;
    @extend .font-xxlarge-include;
    @include mobile-break {
      font-size: 64.84px;
    }
    @include mobile {
      font-size: 38.64px;
      line-height: 33.6px;
    }
  }
}

.donate-cont {
  .donate-heading {
    p {
      @include mobile-break {
        line-height: 50px;
      }
      @include mobile {
        font-size: 37.64px;
        line-height: 33.6px;
      }
    }
  }
}

.insight-block {
  .u-margin-remove-right {
    margin-left: 7px;
  }
  .u-padding-right-xs {
    padding-right: 123px;
    @include mobile-break {
      padding-right: 20px;
    }
    @include mobile {
      padding-right: 20px;
    }
  }
  p {
    max-width: 950px;
  }
  .font-large p {
    // @include mobile-break {
    //     line-height: 70px;
    // }
    // @include mobile {
    //     line-height: 55.2px
    // }
  }
  .col--1-of-3 {
    width: 31.33333%;
    @include mobile-actual-break {
      width: 100%;
    }
  }
}

.break-early {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

.font-large p {
  letter-spacing: -0.7px;
}

.svgBox-3 {
  .filled-heading {
    font-size: 87px;
    line-height: 80px;
    letter-spacing: 0.3px;
  }
  @include mobile {
    font-size: 104px;
  }
}

.pargraph-with-links {
  .col--8-of-12 {
    max-width: 765px;
  }
  @include mobile {
    .svgBox-3 {
      max-height: 98px !important;
    }
  }
}
.pad-full {
  @include desktop {
    width: 100%;
  }
}
.threeColorVenn {
  @include desktop {
    height: 290px;
    width: 24%;
    position: absolute;
    margin-top: 18px;
    top: -210px;
    transform: none;
    right: 0;
  }
  @include mobile-break {
    top: -140px;
  }
}
.mob-small-pad {
  @include mobile-break {
    padding-bottom: 14.6px;
  }
  @include mobile-break {
    padding-bottom: 60px;
  }
}
body {
  overflow-x: hidden;
}
.imageDiv {
  @include mobile-break {
    display: none !important;
  }
}
