<section class="{% if pC.backgroundColor == 'cream' %} cream-bg {% endif %} insight-block"><div class="u-max-l u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs u-relative">           <div class="u-max-m u-margin-remove-right"><div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="row"><div class="col col--12-of-12">{% if pC.accordion %}
{% for entry in pC.accordion %}<button class="accordion-title accordion"><span class="font-medium">{{ entry.header }}</span></button><div class="accordion-content">{{ entry.body }}</div>{% endfor %}
{% endif %}</div></div></div></div></div></section>