section(class="{% if pC.backgroundColor == 'cream' %} cream-bg {% endif %}").insight-block
    .u-max-l.u-padding-top-l.u-padding-bottom-l
        //- Aligning mid width but slightly right aligned
        .u-padding-left-xs.u-padding-right-xs.u-relative            
            .u-max-m.u-margin-remove-right
                .row(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                    .col.col--12-of-12
                        {% if pC.accordion %}
                        {% for entry in pC.accordion %}
                        button.accordion-title.accordion
                            span.font-medium {{ entry.header }}
                        .accordion-content
                            {{ entry.body }}
                        {% endfor %}
                        {% endif %}
