.board-swiper-cont
    .swiper-container.gallery-top
        .swiper-wrapper
            .swiper-slide(style='background-image:url(./images/nature-1.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-2.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-3.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-4.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-5.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-6.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-7.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-8.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-9.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-10.jpg)')
        // Add Arrows
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white
    .swiper-container.gallery-thumbs
        .swiper-wrapper
            .swiper-slide(style='background-image:url(./images/nature-1.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-2.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-3.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-4.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-5.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-6.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-7.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-8.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-9.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-10.jpg)')
