<section class="cream-bg u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs u-relative">   <div class="u-max-m board-swiper u-relative"><div class="board-swiper-outer"><div class="swiper-container js-board-swiper2"><div class="swiper-wrapper height-100"><div class="swiper-slide"><h1>slide</h1></div><div class="swiper-slide"><h1>slide</h1></div><div class="swiper-slide"><h1>slide</h1></div></div></div>{% set board = craft.entries.section("board").all() %}<div class="swiper-container js-board-swiper"><div class="swiper-wrapper height-100">{% for entry in board %}<div class="swiper-slide height-100"><div class="row height-100"><div class="col col--4-of-12 height-100">{% if entry.photo %}
{% set photo = entry.photo.one() %}<div style="background-image: url({{ photo.url }})" class="board-photo height-100"></div>{% endif %}</div><div class="col col--5-of-12 height-100 u-relative"><div class="svg-cont"><div class="svgBox svgBox-6"><svg viewbox="0 0 1112 596">                         
      <clipPath id="textClipBoardSwiper" class="filled-heading">
        <text x="90" y="195">{{entry.firstName}}</text>
        <text x="90" y="340">{{entry.surname}}</text>
      </clipPath>
    <g id="background" clip-path="url(#textClipBoardSwiper)">
            <g transform="translate(300,300)">
                <path class="st0"
                    d="M646.2-4.1C627,8.6,602.4,8,580.6,1.3c-21.8-6.6-40.8-19.3-51.3-38.8c-10.4-19.4-12.3-45.6-3-65.6 c9.3-20,29.7-33.9,52.3-39.9c22.7-6,47.5-4.2,66.9,9.6c19.4,13.7,33.3,39.3,33.4,65.1C679-42.6,665.3-16.7,646.2-4.1z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M535.9,276.3c-19.1,12.6-43.6,12-65.2,5.4c-21.7-6.6-40.6-19.2-50.9-38.5c-10.4-19.3-12.2-45.3-3-65.2 c9.2-19.9,29.5-33.7,52-39.7c22.5-6,47.2-4.1,66.5,9.5c19.3,13.7,33.1,39.1,33.2,64.7C568.5,238,554.9,263.8,535.9,276.3z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st2"
                        d="M331.7,195.6c-19.1,12.6-43.6,12-65.2,5.4c-21.7-6.6-40.6-19.2-50.9-38.5c-10.4-19.3-12.2-45.3-3-65.2 c9.2-19.9,29.5-33.7,52-39.7c22.5-6,47.2-4.1,66.5,9.5c19.3,13.7,33.1,39.1,33.2,64.7C364.4,157.3,350.7,183.1,331.7,195.6z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st2"
                        d="M384.1,7.2c-19.1,12.6-43.6,12-65.2,5.4C297.2,6,278.3-6.6,267.9-25.9c-10.4-19.3-12.2-45.3-3-65.2 c9.2-19.9,29.5-33.7,52-39.7c22.5-6,47.2-4.1,66.5,9.5c19.3,13.7,33.1,39.1,33.2,64.7C416.8-31.1,403.1-5.3,384.1,7.2z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M726.5,283.6c-19.1,12.6-43.6,12-65.2,5.4c-21.7-6.6-40.6-19.2-50.9-38.5c-10.4-19.3-12.2-45.3-3-65.2 c9.2-19.9,29.5-33.7,52-39.7c22.5-6,47.2-4.1,66.5,9.5c19.3,13.7,33.1,39.1,33.2,64.7C759.1,245.3,745.5,271,726.5,283.6z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st0"
                        d="M544.1-60.3c-6.6,10.8-8.5,24.3-14.1,32c-5.6,7.7-14.9,9.6-23.6,7.4c-8.7-2.2-16.8-8.4-25.1-16.2 c-8.3-7.8-16.7-17.1-18.3-28.7c-1.6-11.5,3.6-25.2,7.4-38.5s6.2-26.2,11.9-35c5.7-8.8,14.6-13.6,23.8-15.3 c9.1-1.6,18.5-0.1,27.7,4.2c9.2,4.3,18.4,11.4,24.9,22.3c6.5,10.9,10.4,25.8,6.7,37.2C561.8-79.2,550.6-71.1,544.1-60.3z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st3"
                        d="M427.3,216.4c-8.3,13.7-10.7,30.7-17.8,40.5c-7.1,9.7-18.8,12.1-29.8,9.4c-11-2.7-21.3-10.6-31.7-20.5 c-10.5-9.9-21.1-21.7-23.2-36.3c-2-14.6,4.6-31.9,9.4-48.7c4.8-16.8,7.9-33.1,15-44.3c7.2-11.2,18.5-17.3,30.1-19.3 c11.6-2,23.4-0.1,35.1,5.3c11.7,5.4,23.2,14.4,31.4,28.2c8.2,13.8,13.1,32.6,8.5,47.1C449.7,192.5,435.6,202.7,427.3,216.4z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M510.7,25.4c-14.3,12.7-26.1,23.8-40.7,29.1c-14.7,5.4-32.4,5-48.1-2.4c-15.7-7.4-29.5-21.8-33.2-38.3 c-3.6-16.6,2.8-35.4,7.8-56.8c5-21.5,8.4-45.6,20.6-52.7c12.2-7.1,33.3,2.9,52,10c18.7,7.2,35,11.4,49.6,22.6 C533.2-51.9,546-34,543.9-17.8C541.9-1.7,525,12.7,510.7,25.4z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M484.9-1.7c20.4-14.4,43-20.8,64.3-16.5c21.3,4.4,41.2,19.7,43.2,36.6c2,16.9-14,35.6-24.3,55.1 c-10.3,19.5-14.9,39.9-22.2,40.4c-7.3,0.5-17.4-18.8-37.5-31.6c-20-12.8-50.1-19-56-33.3C446.3,34.9,464.5,12.6,484.9-1.7z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M478.3-134.8c-19.4,17.1-41,24.9-61.4,19.7c-20.3-5.3-39.3-23.5-41.2-43.7c-1.9-20.2,13.4-42.5,23.2-65.8 c9.8-23.3,14.2-47.7,21.2-48.3c7-0.6,16.6,22.5,35.8,37.8c19.1,15.3,47.8,22.7,53.5,39.7C515.1-178.5,497.8-152,478.3-134.8z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M645.1-136.7c-25.7,18.7-54.3,27.1-81.1,21.5c-26.8-5.7-52-25.6-54.5-47.7c-2.5-22.1,17.7-46.3,30.7-71.8 c13-25.4,18.8-52,28.1-52.7c9.3-0.7,22,24.5,47.3,41.2c25.3,16.7,63.2,24.8,70.7,43.3C693.8-184.4,670.9-155.4,645.1-136.7z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M321.9,269.4c-24.4,17.2-51.6,25-77.1,19.8c-25.5-5.3-49.4-23.6-51.8-43.9c-2.4-20.3,16.8-42.7,29.2-66.1 s17.9-47.8,26.7-48.5c8.8-0.6,20.9,22.6,45,37.9c24,15.4,60.1,22.8,67.2,39.9C368.1,225.5,346.4,252.2,321.9,269.4z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M472-47.5c-8.6,6.2-23.9,3.7-34.8,0.6c-10.9-3.2-17.2-7-28.5-5.9c-11.3,1.1-27.5,7.3-36.6,3 c-9.2-4.3-11.3-18.9-15.2-36.5s-9.4-38.3-3.2-52.4c6.2-14.1,24.2-21.5,40-19.8c15.8,1.7,29.6,12.7,46,17.3 c16.4,4.6,35.5,2.9,43.3,11.5c7.9,8.6,4.6,27.5,2,44.4C482.4-68.5,480.6-53.7,472-47.5z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M781.4,144.9c-12,19.9-25,40.6-42.3,47.6c-17.3,7-38.9,0.3-51.9-15.2c-13-15.5-17.3-39.6-20.9-61.3 c-3.7-21.6-6.6-40.5-4.7-62c1.9-21.5,8.7-45.5,22.1-53.2C697-6.9,717,1.7,735.6,8.2c18.6,6.5,35.7,10.9,48.8,23.7 c13.1,12.8,22,33.9,21,54C804.4,106,793.4,125.1,781.4,144.9z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M326.2,58.2c-15,24.9-31.3,50.7-52.9,59.4c-21.6,8.7-48.6,0.3-64.8-19c-16.2-19.4-21.6-49.5-26.1-76.5 c-4.6-26.9-8.3-50.6-5.9-77.4c2.4-26.8,10.8-56.8,27.6-66.4c16.8-9.6,41.8,1.1,65.1,9.2c23.2,8.1,44.6,13.6,61,29.6 c16.3,16,27.5,42.4,26.2,67.4C355,9.6,341.2,33.4,326.2,58.2z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M769.3-146.6c-8.9,17.4-10.7,40.8-20.9,49.6c-10.2,8.7-28.9,2.9-49.6,2c-20.7-0.9-43.4,3-52-8.1 c-8.6-11.2-2.9-37.5-10-60.4c-7.1-22.8-26.9-42.3-23.8-54.8c3.1-12.5,29-18,47.9-23c18.9-5,30.6-9.5,46.9-21.1 c16.3-11.6,37.1-30.3,45.3-23.5c8.2,6.8,4,39.2,11.4,60c7.4,20.8,26.6,30,28.1,40.4C794.1-175.4,778.1-164,769.3-146.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st0"
                    d="M443.6,75.6c-8.9,17.4-10.7,40.8-20.9,49.6c-10.2,8.7-28.9,2.9-49.6,2c-20.7-0.9-43.4,3-52-8.1 c-8.6-11.2-2.9-37.5-10-60.4c-7.1-22.8-26.9-42.3-23.8-54.8c3.1-12.5,29-18,47.9-23c18.9-5,30.6-9.5,46.9-21.1 c16.3-11.6,37.1-30.3,45.3-23.5c8.2,6.8,4,39.2,11.4,60c7.4,20.8,26.6,30,28.1,40.4C468.5,46.9,452.5,58.3,443.6,75.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st5"
                    d="M659.6,157.6c-16.7,6.4-46.4-25-67.6-58.5c-21.3-33.4-34-68.7-19-97.8c15-29,57.9-51.7,81-40.4 c23.1,11.3,26.4,56.7,26.2,101.5S676.3,151.2,659.6,157.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M384.9-87.8c-16.7,6.4-46.4-25-67.6-58.5c-21.3-33.4-34-68.7-19-97.8c15-29,57.9-51.7,81-40.4 c23.1,11.3,26.4,56.7,26.2,101.5C405.3-138.3,401.6-94.2,384.9-87.8z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st0"
                    d="M745.6,16.1c-16.3,16.5-49,22.5-70.1,8.1c-21.1-14.4-30.7-49.3-28.2-79.5c2.6-30.2,17.4-55.7,36.5-68.6  c19.1-12.8,42.6-13,56.2-3.4c13.6,9.6,17.4,29,19.4,42.8c2,13.8,2.2,21.9,2.3,39.5C761.9-27.4,761.9-0.4,745.6,16.1z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st5"
                    d="M316.9-98.6c-17.6,17.8-52.7,24.3-75.5,8.7c-22.7-15.5-33.1-53.1-30.3-85.6c2.8-32.5,18.7-60,39.3-73.9 c20.6-13.8,45.9-14,60.6-3.7c14.6,10.3,18.7,31.2,20.9,46.1c2.2,14.8,2.4,23.6,2.5,42.5C334.5-145.4,334.5-116.4,316.9-98.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st2"
                    d="M532.3-130.5c-16.3,16.5-49,22.5-70.1,8.1c-21.1-14.4-30.7-49.3-28.2-79.5c2.6-30.2,17.4-55.7,36.5-68.6 c19.1-12.8,42.6-13,56.2-3.4c13.6,9.6,17.4,29,19.4,42.8c2,13.8,4.2,21.7,4.3,39.2C550.6-174.3,543.2-151.5,532.3-130.5z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st3"
                    d="M618.3,188.9c-4.6,11.6-2.7,29.2-9.1,44.2s-21,27.4-32.8,24.4c-11.9-3-20.9-21.5-26.7-36.7 c-5.8-15.2-8.3-27.1-11.4-38.8c-3.1-11.7-6.7-23.1-11.1-41.2c-4.4-18.2-9.6-43-2.3-59.8c7.3-16.7,27.2-25.2,44.7-21.2 c17.6,3.9,32.8,20.3,44.4,34c11.6,13.7,19.6,24.6,24.1,36.3c4.6,11.6,5.8,23.9,0.8,32.9C634,171.8,622.9,177.3,618.3,188.9z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st2"
                    d="M519.7,164.3c-18.9,16.4-46.1,21.9-67.1,14c-21-7.9-35.8-29.4-37.2-48.3c-1.3-18.9,10.8-35.1,19.2-52.7  c8.4-17.5,12.9-36.4,21.8-39.4c8.9-2.9,22,9.9,40,21.8c18,11.9,40.7,22.8,46.7,41.9C549.3,120.8,538.6,147.9,519.7,164.3z" />
            </g>
       
            <g transform="translate(300,300)">
                <g>
                    <path class="st2"
                        d="M144.7-4.1c-17.9,12.6-41,12-61.3,5.4C63-5.3,45.2-18,35.5-37.4C25.7-56.8,24-83,32.6-103 c8.7-20,27.7-33.9,48.9-39.9c21.2-6,44.4-4.2,62.6,9.6c18.1,13.7,31.1,39.3,31.2,65.1C175.4-42.6,162.6-16.7,144.7-4.1z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M41.6,276.3c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 c8.6-19.9,27.6-33.7,48.6-39.7c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C72.1,238,59.4,263.8,41.6,276.3z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st2"
                        d="M-149.2,195.6c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 C-252,77.4-233,63.6-212,57.6c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C-118.7,157.3-131.4,183.1-149.2,195.6z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st2"
                        d="M-100.2,7.2c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 c8.6-19.9,27.6-33.7,48.6-39.7c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C-69.7-31.1-82.5-5.3-100.2,7.2z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M219.7,283.6c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 c8.6-19.9,27.6-33.7,48.6-39.7c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C250.3,245.3,237.5,271,219.7,283.6z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st0"
                        d="M49.3-60.3c-6.1,10.8-7.9,24.3-13.2,32c-5.2,7.7-13.9,9.6-22,7.4C6-23-1.6-29.2-9.4-37 c-7.7-7.8-15.6-17.1-17.1-28.7c-1.5-11.5,3.4-25.2,6.9-38.5s5.8-26.2,11.1-35c5.3-8.8,13.7-13.6,22.2-15.3 c8.6-1.6,17.3-0.1,25.9,4.2c8.6,4.3,17.2,11.4,23.2,22.3c6.1,10.9,9.7,25.8,6.3,37.2C65.8-79.2,55.4-71.1,49.3-60.3z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st3"
                        d="M-59.8,216.4c-7.7,13.7-10,30.7-16.7,40.5c-6.6,9.7-17.6,12.1-27.8,9.4c-10.3-2.7-19.9-10.6-29.7-20.5 c-9.8-9.9-19.7-21.7-21.7-36.3c-1.9-14.6,4.3-31.9,8.8-48.7c4.5-16.8,7.4-33.1,14.1-44.3c6.7-11.2,17.3-17.3,28.1-19.3 c10.8-2,21.9-0.1,32.8,5.3c10.9,5.4,21.7,14.4,29.4,28.2c7.7,13.8,12.3,32.6,8,47.1C-38.9,192.5-52.1,202.7-59.8,216.4z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M18.1,25.4C4.7,38.1-6.2,49.1-20,54.5c-13.8,5.4-30.2,5-45-2.4s-27.6-21.8-31-38.3 c-3.4-16.6,2.7-35.4,7.3-56.8s7.8-45.6,19.2-52.7c11.4-7.1,31.1,2.9,48.6,10c17.4,7.2,32.7,11.4,46.3,22.6 C39.1-51.9,51.1-34,49.2-17.8C47.3-1.7,31.5,12.7,18.1,25.4z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M-6-1.7c19-14.4,40.2-20.8,60.1-16.5c19.9,4.4,38.5,19.7,40.4,36.6C96.3,35.4,81.3,54,71.7,73.5 S57.8,113.4,50.9,114c-6.9,0.5-16.3-18.8-35.1-31.6C-2.9,69.6-31,63.3-36.5,49.1C-42.1,34.9-25.1,12.6-6-1.7z" />
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M-11.9-158c-18.2,17.1-38.4,24.9-57.4,19.7c-19-5.3-36.8-23.5-38.5-43.7c-1.8-20.2,12.5-42.5,21.7-65.8 c9.2-23.3,13.3-47.7,19.8-48.3c6.5-0.6,15.5,22.5,33.4,37.8c17.9,15.3,44.7,22.7,50,39.7C22.5-201.7,6.3-175.1-11.9-158z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M143.7-136.7c-24,18.7-50.7,27.1-75.8,21.5C42.8-121,19.3-140.9,17-163c-2.3-22.1,16.5-46.3,28.7-71.8 c12.1-25.4,17.6-52,26.2-52.7c8.7-0.7,20.5,24.5,44.2,41.2c23.6,16.7,59.1,24.8,66.1,43.3C189.2-184.4,167.8-155.4,143.7-136.7 z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <g>
                    <path class="st5"
                        d="M-158.3,269.4c-22.8,17.2-48.2,25-72.1,19.8c-23.8-5.3-46.2-23.6-48.4-43.9c-2.2-20.3,15.7-42.7,27.3-66.1 c11.5-23.4,16.7-47.8,24.9-48.5c8.2-0.6,19.5,22.6,42,37.9c22.5,15.4,56.1,22.8,62.8,39.9 C-115.1,225.5-135.5,252.2-158.3,269.4z" />
                </g>
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M-18.1-47.5c-8.1,6.2-22.4,3.7-32.5,0.6c-10.1-3.2-16-7-26.6-5.9c-10.5,1.1-25.7,7.3-34.3,3 c-8.6-4.3-10.6-18.9-14.2-36.5c-3.6-17.6-8.8-38.3-3-52.4c5.8-14.1,22.6-21.5,37.4-19.8c14.8,1.7,27.6,12.7,42.9,17.3 c15.3,4.6,33.2,2.9,40.5,11.5c7.4,8.6,4.3,27.5,1.8,44.4C-8.3-68.5-10.1-53.7-18.1-47.5z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st4"
                    d="M271.1,144.9c-11.2,19.9-23.4,40.6-39.6,47.6c-16.2,7-36.4,0.3-48.5-15.2c-12.1-15.5-16.1-39.6-19.6-61.3 c-3.4-21.6-6.2-40.5-4.4-62c1.8-21.5,8.1-45.5,20.6-53.2c12.6-7.7,31.3,0.8,48.7,7.3c17.4,6.5,33.4,10.9,45.6,23.7 c12.2,12.8,20.6,33.9,19.6,54C292.6,106,282.3,125.1,271.1,144.9z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st3"
                    d="M-154.3,58.2c-14,24.9-29.2,50.7-49.4,59.4c-20.2,8.7-45.4,0.3-60.6-19c-15.1-19.4-20.2-49.5-24.4-76.5 c-4.3-26.9-7.7-50.6-5.5-77.4c2.2-26.8,10.1-56.8,25.8-66.4c15.7-9.6,39.1,1.1,60.8,9.2c21.7,8.1,41.7,13.6,57,29.6 c15.2,16,25.7,42.4,24.5,67.4C-127.4,9.6-140.3,33.4-154.3,58.2z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M258.6-146.6c-8.3,17.4-10,40.8-19.5,49.6c-9.6,8.7-27,2.9-46.4,2c-19.3-0.9-40.6,3-48.6-8.1 c-8-11.2-2.7-37.5-9.3-60.4c-6.6-22.8-25.1-42.3-22.3-54.8c2.9-12.5,27.1-18,44.7-23c17.7-5,28.6-9.5,43.8-21.1 c15.2-11.6,34.6-30.3,42.3-23.5c7.7,6.8,3.7,39.2,10.7,60c7,20.8,24.8,30,26.3,40.4C281.8-175.3,266.8-163.9,258.6-146.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st5"
                    d="M-44.6,75.6c-8.3,17.4-10,40.8-19.5,49.6c-9.6,8.7-27,2.9-46.4,2c-19.3-0.9-40.6,3-48.6-8.1 c-8-11.2-2.7-37.5-9.3-60.4c-6.6-22.8-25.1-42.3-22.3-54.8c2.9-12.5,27.1-18,44.7-23c17.7-5,28.6-9.5,43.8-21.1 s34.6-30.3,42.3-23.5c7.7,6.8,3.7,39.2,10.7,60c7,20.8,24.8,30,26.3,40.4C-21.4,46.9-36.3,58.3-44.6,75.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st5"
                    d="M169.1,158.5c-15.6,6.4-55.2-25.9-75-59.4C74.2,65.8,62.3,30.4,76.3,1.3c14-29,54.1-51.7,75.7-40.4 c21.6,11.3,24.6,56.7,24.5,101.5C176.3,107.1,184.7,152.2,169.1,158.5z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st1"
                    d="M-99.5-87.8c-15.6,6.4-43.3-25-63.2-58.5c-19.9-33.4-31.8-68.7-17.8-97.8c14-29,54.1-51.7,75.7-40.4 c21.6,11.3,24.6,56.7,24.5,101.5C-80.4-138.3-83.9-94.2-99.5-87.8z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st0"
                    d="M237.6,16.1c-15.3,16.5-45.8,22.5-65.5,8.1c-19.7-14.4-28.7-49.3-26.3-79.5c2.4-30.2,16.3-55.7,34.1-68.6 c17.9-12.8,39.8-13,52.5-3.4c12.7,9.6,16.2,29,18.1,42.8c1.9,13.8,2.1,21.9,2.2,39.5C252.9-27.4,252.9-0.4,237.6,16.1z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st5"
                    d="M-163-98.6c-16.4,17.8-49.3,24.3-70.6,8.7c-21.3-15.5-30.9-53.1-28.3-85.6c2.6-32.5,17.5-60,36.8-73.9 c19.3-13.8,42.9-14,56.6-3.7c13.7,10.3,17.5,31.2,19.5,46.1c2,14.8,2.2,23.6,2.3,42.5C-146.6-145.4-146.6-116.4-163-98.6z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st2"
                    d="M41.7-122.9c-15.3,16.5-45.8,22.5-65.5,8.1c-19.7-14.4-28.7-49.3-26.3-79.5c2.4-30.2,16.3-55.7,34.1-68.6 c17.9-12.8,39.8-13,52.5-3.4c12.7,9.6,16.2,29,18.1,42.8c1.9,13.8,2.1,21.9,2.2,39.5C57-166.4,57-139.4,41.7-122.9z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st3"
                    d="M118.6,188.9c-4.3,11.6-2.5,29.2-8.5,44.2s-19.6,27.4-30.6,24.4c-11.1-3-19.5-21.5-25-36.7 c-5.4-15.2-7.8-27.1-10.7-38.8c-2.9-11.7-6.2-23.1-10.3-41.2c-4.1-18.2-9-43-2.2-59.8c6.8-16.7,25.4-25.2,41.8-21.2 c16.4,3.9,30.6,20.3,41.5,34c10.9,13.7,18.3,24.6,22.6,36.3c4.3,11.6,5.4,23.9,0.8,32.9C133.3,171.8,122.9,177.3,118.6,188.9z" />
            </g>
            <g transform="translate(300,300)">
                <path class="st2"
                    d="M25.8,164.9c-17.7,16.4-43,21.9-62.7,14c-19.6-7.9-33.5-29.4-34.7-48.3c-1.2-18.9,10.1-35.1,18-52.7 c7.8-17.5,12.1-36.4,20.4-39.4c8.3-2.9,20.6,9.9,37.4,21.8c16.8,11.9,38,22.8,43.7,41.9C53.4,121.4,43.5,148.5,25.8,164.9z" />
            </g>
    
    </g>
</svg></div></div>{% if entry.role %}<div class="font-medium"><p>{{ entry.role }}</p></div>{% endif %}
{% if entry.paragraph %}<p>{{ entry.paragraph }}</p>{% endif %}</div></div></div>{% endfor %}</div><div class="row"><div class="col col--5-of-12"><div class="swiper-button-prev"></div><div class="swiper-button-next"></div></div></div></div></div></div></div></section>