<div class="overlay js-overlay js-side-menu"></div><section class="side-bar cream-bg"><div class="u-max-l u-padding-top u-padding-bottom"><div class="u-relative">           <div class="u-max-m u-margin-remove-right"><div class="row"><div class="col col--12-of-12"><h2>Downloads</h2><div class="cell name title">Name</div><div class="cell type title">Type</div>{% if pC.assets %}
{% for asset in pC.assets %}<div class="cell-row"><div class="cell name">{{ asset.title }}</div><div class="cell type">{{ asset.kind }}</div></div>{% endfor %}
{% endif %} </div></div></div></div></div></section>