.overlay.js-overlay.js-side-menu
section.side-bar.cream-bg
    .u-max-l.u-padding-top.u-padding-bottom
        //- Aligning mid width but slightly right aligned
        .u-relative            
            .u-max-m.u-margin-remove-right
                .row
                    .col.col--12-of-12
                        h2 Downloads
                        .cell.name.title
                            | Name
                        .cell.type.title
                            | Type
                        | {% if pC.assets %}
                        | {% for asset in pC.assets %}
                        .cell-row
                            .cell.name
                                {{ asset.title }}
                            .cell.type
                                {{ asset.kind }}
                        | {% endfor %}
                        | {% endif %} 