section
    .u-max-xl.u-padding-top-xxl.u-margin-top.padding-top-break-early.padding-bottom-break-early.imageTextDiv.u-relative
        .u-padding-left-xs.u-padding-right-xs.alignTextSwiperWidth
            .u-max-l.u-margin-remove-right 
                .font-xxlarge-include.filled-heading 
                    | {% if pC.heading | length %}                
                    | {% for headerLine in pC.heading.all() %}                
                    .u-display-block {{headerLine.headerLine}}
                    | {% endfor %}
                    | {% endif %}    
                | {% if pC.image | length %}
                | {% for asset in pC.image.limit(1).all() %}                
                //- .u-background.image-text.lazy(data-bg="url({{asset.url}}")
                .u-background.image-text
                | {% endfor %}
                | {% endif %}