<section><div class="u-max-xl u-padding-top-xxl u-margin-top padding-top-break-early padding-bottom-break-early imageTextDiv u-relative"><div class="u-padding-left-xs u-padding-right-xs alignTextSwiperWidth"><div class="u-max-l u-margin-remove-right"> <div class="font-xxlarge-include filled-heading"> 
{% if pC.heading | length %}                
{% for headerLine in pC.heading.all() %}                <div class="u-display-block">{{headerLine.headerLine}}</div>{% endfor %}
{% endif %}    </div>{% if pC.image | length %}
{% for asset in pC.image.limit(1).all() %}                <div class="u-background image-text"></div>{% endfor %}
{% endif %}</div></div></div></section>