| {# if the client has support for webP, use it, else use default #}
| {% for asset in pC.image.all() %}
| {% if craft.imager.serverSupportsWebp() and craft.imager.clientSupportsWebp() %}
//- Change width here
| {% set transformedImagesWebP = craft.imager.transformImage(asset, { width: 2000, format: 'webp' }) %}
//- WebP
section.large-caption-box.u-max-l
    .u-margin-top-l.u-margin-bottom-l.u-relative.u-padding-left-xs.u-padding-right-xs
        .cream-box.cream-bg(style="background-image: url({{siteUrl}}{{transformedImagesWebP}});background-position:{{ pC.image.one().focalPoint.x * 100 }}% {{pC.image.one().focalPoint.y * 100}}%")
        .u-abs.one

            .u-max-m.u-relative.text-cont
                .large-heading.u-abs__v-center
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineOne}}
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineTwo}}
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineThree}}
| {% else %}      
//- Not WebP
//- https://scottjehl.github.io/picturefill/ 
| {% set transformedImages = craft.imager.transformImage(asset, [ {width: 1600}, {width: 850}])%}
section.large-caption-box.u-max-l
    .u-margin-top-l.u-margin-bottom-l.u-relative.u-padding-left-xs.u-padding-right-xs
        .cream-box.cream-bg(style="background-image: url({{siteUrl}}{{transformedImages[0]}});background-position:{{ pC.image.one().focalPoint.x * 100 }}% {{pC.image.one().focalPoint.y * 100}}%")
        .u-abs.one
            .u-max-m.u-relative.text-cont
                .large-heading.u-abs__v-center
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineOne}}
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineTwo}}
                    p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineThree}}
| {% endif %}
| {% endfor %}

//- section.large-caption-box.u-max-l
//-     .u-margin-top-l.u-margin-bottom-l.u-relative.u-padding-left-xs.u-padding-right-xs
//-         .cream-box.cream-bg(style="background-image: url({% if pC.image %}{{pC.image.one().url}}{% endif %})")
//-         .u-abs.one
//-             .u-max-m.u-relative.text-cont
//-                 .large-heading.u-abs__v-center
//-                     p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineOne}}
//-                     p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineTwo}}
//-                     p(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700") {{pC.textLineThree}}

