/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/

@font-face {
    font-family: "Acta";
    src: url("../fonts/ActaDisplay-Black.woff2") format("woff2"), url("../fonts/ActaDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

/** Variables **/
$black: #333333;
$blue: #55bfd6;
$cream: #f2f2f2;
$green: #83c6ac;
$grey: #615e59;
$lilac: #b999c3;
$white: #ffffff;
$yellow: #ffdb73;

$maxWidth: 1380px;
$small-line-height: 26.5px;
$lineHeight: 48px;
// Line Height:
$lg-line-height: 69px;
$xxlg-line-height: 80px;

// Font sizes
$font-small: 17px;
$font-sm-med: 21px;
$font-medium: 30px;
$font-large: 50px;
$font-larger: 53px;
$font-xlarge: 53px;
$font-xxlarge: 92px;

// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;

// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 488px;

.font-small-include {
    font-size: $font-small;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-small * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-small * 0.8;
        line-height: $small-line-height * 0.8;
    }
}

.font-sm-med-include {
    font-size: $font-sm-med;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-sm-med * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-sm-med * 0.8;
        line-height: $small-line-height * 0.8;
    }
}

.font-medium-include {
    font-size: $font-medium;
    line-height: $lineHeight;
    @include mobile-break {
        font-size: $font-medium * 0.9;
        line-height: $lineHeight * 0.9;
    }
    @include mobile {
        font-size: $font-medium * 0.8;
        line-height: $lineHeight * 0.8;
    }
}

.font-large-include {
    font-size: $font-large;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-large * 0.7;
        line-height: $lg-line-height * 0.7;
    }
    @include mobile {
        font-size: $font-large * 0.5;
        line-height: $lg-line-height * 0.5;
    }
}

.font-larger-include {
    font-size: $font-larger;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-larger * 0.7;
        line-height: $lg-line-height * 0.7;
    }
    @include mobile {
        font-size: $font-larger * 0.5;
        line-height: $lg-line-height * 0.5;
    }
}

.font-xlarge-include {
    font-size: $font-xlarge;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-xlarge * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-xlarge * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}

.font-xxlarge-include-head {
    font-size: $font-xxlarge;
    line-height: $xxlg-line-height;
    @include mobile-break {
        font-size: $font-xxlarge * 0.9;
        line-height: $xxlg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-xxlarge * 0.8;
        line-height: $xxlg-line-height * 0.8;
    }
}

.font-xxlarge-include {
    font-size: $font-xxlarge;
    line-height: $xxlg-line-height;
    @include mobile-break {
        font-size: $font-xxlarge * 0.52;
        line-height: $xxlg-line-height * 0.52;
    }
    @include mobile {
        font-size: $font-xxlarge * 0.42;
        line-height: $xxlg-line-height * 0.42;
    }
}
