{% extends '_layout' %}
{% block content %}<div class="nav-cont-outer js-sticky-nav"><div class="u-max-l u-relative">{% include '_includes/_core/_nav.html' %}</div></div>{% include '_includes/_core/_mobile-menu.html' %}<div class="nav-spacing"></div><section class="cream-bg insight-block"><div class="u-max-m u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs u-relative">           <div class="u-max-sm-med u-margin-remove-right"><div class="row u-rel"><div class="col col--12-of-12">{% if entry.category | length %}<div class="font-medium bold-lilac u-padding-bottom-s">{{ entry.category }}</div>{% endif %}
{% if entry.subHeading | length %}<div class="font-medium bold-lilac u-padding-bottom-s">{{ entry.subHeading }}</div>{% endif %}
{% if entry.title | length %}<div class="font-large u-padding-bottom-s">{{entry.title}}</div>{% endif %}<div class="font-medium bold-lilac u-padding-bottom-s">{{ entry.postDate | date("d M Y") }}</div><div class="row"><div class="col col--3-of-3">{% if entry.body %}
{{ entry.body }}
{% endif %}</div></div></div></div></div></div></div></section>{% include '_includes/_core/_footer.html' %}
{% endblock %}