| {% extends '_layout' %}
| {% block content %}

.nav-cont-outer.js-sticky-nav
    .u-max-l.u-relative
        | {% include '_includes/_core/_nav.html' %}

| {% include '_includes/_core/_mobile-menu.html' %}

.nav-spacing
section(class="cream-bg").insight-block
    .u-max-m.u-padding-top-l.u-padding-bottom-l
        //- Aligning mid width but slightly right aligned
        .u-padding-left-xs.u-padding-right-xs.u-relative            
            .u-max-sm-med.u-margin-remove-right
                .row.u-rel
                    .col(class="col--12-of-12")
                        | {% if entry.category | length %}
                        .font-medium.bold-lilac.u-padding-bottom-s
                            | {{ entry.category }}
                        | {% endif %}
                        | {% if entry.subHeading | length %}
                        .font-medium.bold-lilac.u-padding-bottom-s
                            | {{ entry.subHeading }}
                        | {% endif %}

                        | {% if entry.title | length %}
                        .font-large.u-padding-bottom-s
                            | {{entry.title}}
                        | {% endif %}

                        .font-medium.bold-lilac.u-padding-bottom-s
                            | {{ entry.postDate | date("d M Y") }}

                        .row
                            .col.col--3-of-3
                                | {% if entry.body %}
                                | {{ entry.body }}
                                | {% endif %}
                            
| {% include '_includes/_core/_footer.html' %}

| {% endblock %}