.accordion-title {
    background-color: white;
    color: $white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    transition: 0.4s;
    border-style: solid;
    border: 2.5px solid;
}

.active,
.accordion-title:hover {
    background-color: lightgray;
}

.accordion-title:nth-of-type(1n) {
    border-color: $lilac;
    background-color: $lilac;
    border-bottom: 0px;
}

.accordion-title:nth-of-type(2n) {
    border-color: $blue;
    border-bottom: 0px;
    background-color: $blue;
}
.accordion-title:nth-of-type(3n) {
    border-color: $green !important;
    background-color: $green !important;
    border-bottom-color: $green;
}
.accordion-title:last-of-type {
    // border-bottom: 2px;
    border: 2.5px solid;
}

.active:nth-of-type(1n),
.accordion-title:hover:nth-of-type(1n) {
    background-color: $lilac;
}

.active:nth-of-type(2n),
.accordion-title:hover:nth-of-type(2n) {
    background-color: $blue;
}

.active:nth-of-type(3n),
.accordion-title:hover:nth-of-type(3n) {
    background-color: $green;
}

.accordion-title:after {
    content: "\002B";
    color: $white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 30px;
}

.accordion-title:hover:after {
    color: white;
}

.active:after {
    content: "\2212";
}

.accordion-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p:first-child {
        margin-top: 34px;
    }
    p {
        margin-bottom: 23px;
    }
    ul {
        padding-left: 20px;
        padding-right: 2.5px;
        li {
            list-style-type: disc;
        }
    }
    ol {
        li {
            list-style-type: unset;
        }
    }
    li {
        font-weight: normal;
        font-family: "Mukta", sans-serif;
        margin-bottom: 11.5px;
        padding-left: 5px;
    }
}
