.button {
  margin: 0;
  border: none;
  overflow: visible;
  background-color: transparent;
  color: $black;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 19.5px 50px;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  font-family: "Mukta", sans-serif;

  @include mobile {
    min-width: unset;
    font-size: 14.5px;
    line-height: 14.5px;
    padding: 12px 24px;
    margin: auto;
    // max-width: 135px;
  }
  .text {
    position: relative;
    z-index: 3;
    font-weight: bold;
    padding-top: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: white;
    left: -200px;
    top: 0;
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  &:hover:after {
    z-index: 1;
    left: -42%;
  }
}

.button__large {
  padding: 0 50px;
}

.button__primary {
  background: $green;
  color: $white;
  border: 1px solid $green;
  padding: 18.5px 50px;
  @include mobile {
    padding: 11px 24px;
  }
  &:hover {
    background: $white;
    border: 1px solid $green;
    color: $green;
  }
}

.button__secondary {
  background: $yellow;
  color: $blue;
  @include mobile {
    color: white;
  }
  &::after {
    background-color: $white;
  }
  &:hover {
    color: $blue;
  }
}

.button__blue {
  background: $blue;
  color: $white;
  &::after {
    background-color: $yellow;
  }
  &:hover {
    color: $white;
  }
}

.pledge-button {
  margin-left: 20px;
  margin-top: 38px;
  background: $lilac;
  color: $white;
  &::after {
    background-color: $green;
  }
  &:hover {
    color: $white;
  }
}

.button__tertiary {
  background: $green;
  color: $white;
  border: 1px solid $green;
  &::after {
    background-color: $white;
  }
  &:hover {
    background: $white;
    border: 1px solid $blue;
    color: $blue;
  }
}
