.contact-form {
  @include mobile-break {
    padding-left: 0px !important;
  }
  label {
    // font-weight: 100;
    // line-height: 29.8px;
    // font-size: 19px;
  }
  input:not([type="submit"]),
  textarea {
    width: 100%;
    border: 0;
    font-size: 22px;
    border-bottom: 1px solid #333;
    padding: 20px 0px;
    margin-bottom: 45px;
    line-height: 21.6px;
    // @extend .u-bold;
    // color: #292425;
  }
  .selectFieldBlock {
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
  }
  select {
    font-size: 32px;
    border-bottom: 1px solid #333;
    margin: 8px 0px 10px 0px;
    position: relative;
    font-family: "Mukta", sans-serif;
    background: none;
    border: none;
    width: 100%;
    background: url("../images/drop-arrow.svg") 0 0 no-repeat;
    -webkit-appearance: none;
    background-position: right;
    background-size: 24px;
    @include mobile {
      font-size: 25px !important;
    }
  }
  ::placeholder {
    color: #292425;
  }
}
.contact-block {
  @include mobile-break {
    margin-top: 100px;
  }
}
.contact-info {
  border-bottom: 1px solid #333;
  padding: 12.5px 0;
  margin-bottom: 35px;
  width: 80%;
  padding-top: 12px;
  @include mobile-break {
    width: 100%;
    display: block;
    z-index: 10;
  }
  p {
    margin-bottom: 5px;
  }
  a {
    font-family: "Mukta", sans-serif;
    font-size: 32px;
    @include mobile {
      font-size: 25px;
    }
  }
}
.contact-info:first-of-type {
  padding-top: 1px;
}
.contact-info:last-of-type {
  border-bottom: none;
  padding-top: 10px;
}
.contact-form {
  padding-top: 0px;
  padding-left: 10px;
}
input[name="bear"] {
  display: none;
}
.tick {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  position: relative;
  top: -0.1em;
  margin: 0 0.75em;
}
.input-row,
.textarea-row {
  display: inline-block;
  position: relative;
  width: 100%;
  input,
  textarea {
    //   padding: 10px 12px;
    padding-top: 27px;
    padding-bottom: 7px;
    width: 99%;
    font-size: 32px !important;
    background: none;
    @include mobile {
      font-size: 25px !important;
    }
    &:focus {
      outline: none;
    }
  }

  img {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    /* transform: translateY(-50%); */
    margin: auto;
  }
}
.social-row {
  width: 150px;
  @include mobile-break {
    .col.col--1-of-3 {
      width: 33%;
      display: inline-block;
    }
  }
  img {
    height: 25px;
  }
}
.contact-symbol {
  position: absolute;
  top: 8%;
  width: 37.5%;
  height: 37.5%;
  right: 0%;
  @include mobile-break {
    z-index: -1;
  }
}
.email {
  position: relative;
  .tick {
    top: calc(50% - 15px);
  }
}
.label-cont {
  line-height: 20px;
  font-family: "Mukta", sans-serif;
}

::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 4-18 */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 19-51 */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* IE 10+ */
::placeholder {
  opacity: 1;
  transition: opacity 0.5s;
} /* Modern Browsers */

*:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
} /* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
} /* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
} /* IE 10+ */
*:focus::placeholder {
  opacity: 0;
} /* Modern Browsers */
