.donate-cont {
    background-color: $blue;
    height: auto;
    // site pad
    .u-padding-left-xs {
        padding-left: 185px + 4px;
        @media (max-width: 1300px){
            padding-left: 50px + 4px;
        }
        @include mobile-break{
            padding-left: 30px;
        }
        @include mobile{
            padding-left: 20px;
        }

    }

    .u-padding-top-l {
        padding-top: 135px;
        @include mobile {
            padding-top: 135px * 0.4 ;
        }
    }
    .u-padding-bottom-l {
        padding-bottom: 135px;
        @include mobile {
            padding-bottom: 135px * 0.4 ;
        }
    }

    .u-padding-bottom-s {
        @include mobile {
            padding-bottom: 10px ;
        }
    }
    
    @media (max-width: 1100px){
        height: auto;
    }
    @include mobile-break {
        height: auto;
    }
    
    @media (max-width: 930px){
        .col--2-of-3 {
            width: 75%;
            min-width: 625px;
            @include mobile-break {
                min-width: unset;
            }
        }
        .row {
            display: flex;
        }
    }
    .donate-heading {
        p {
            color: $white;
            max-width: 725px;
            @include mobile {
                padding-top: 15px;
            }
        }
        @include mobile {
            padding-bottom: 10px;
        }
    }
    .donate-curve {
        position: absolute;
        right: 0;
        height: 100%;
    }
    .donate-button {
        &:hover:after {
            left: -42%
        }
    }
 
} 