footer {
    background-color: #4d4d4d;
    // height: 375px;
    border-bottom: 5px solid $yellow;
    .give-logo {
        img {
            height: 77px;
            @include mobile {
                height: 58px;
            }
        }
    } 
    .u-padding-top-l {
        padding-top: 100px;
    }
    .u-padding-bottom-l {
        padding-bottom: 100px;
    }
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        border-bottom: 2px solid $blue;
        margin-right: 60px;
        color: $blue;
        @extend .font-small-include;
        img {
            height: 25px;
            margin-top: -15px;
        }
        @include mobile-break {
            margin-right: 0px;
            margin-top: 25px;
        }
    }
    .text {
        // height: 46px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 66px;
        @extend .font-small-include;
        color: $blue;
        @include mobile-break {
            margin-top: 25px;
        }
        a {
            @extend .font-small-include;
            margin-top: 4px;
            color: white;
        }
    }
}