.home-header{
    height: 848px;
    @media (max-width: 1300px){
        height: 750px;
    }
    @media (max-width: 1000px){
        height: 575px;
    }
    @media (max-width: 900px){
        height: 500px;
    }
    @media (max-width: 700px){
        .logoSmall {
            display: none;
        }
    }
    @media (max-width: 600px){
        height: 450px;
    }
    @media (max-width: 500px){
        height: 375px;
    }
    @media (max-width: 350px){
        height: 325px;
    }
}

.home-header.line-count-4 {
    height: 900px - 165px;
    .logoSmall {
        bottom: 35%!important;
    }
    @media (max-width: 1355px){
        height: 650px;
    }
    @media (max-width: 1000px){
        height: 575px - 165px;
    }
    @media (max-width: 900px){
        height: 500px - 90px;
    }
    @media (max-width: 600px){
        height: 450px;
    }
    @media (max-width: 500px){
        height: 375px;
    }
    @media (max-width: 350px){
        height: 325px;
    }
}

.home-header.line-count-3 {
    height: 640px;
    .logoSmall {
        bottom: 49% !important;
    }
    @media (max-width: 1355px){
        height: 560px;
    }
    @media (max-width: 1000px){
        height: 560px - 165px;
    }
    @media (max-width: 900px){
        height: 500px - 90px;
    }
    @media (max-width: 600px){
        height: 360px;
    }
    @media (max-width: 500px){
        height: 300px;
    }
    @media (max-width: 350px){
        height: 325px;
    }
}

.headerLogo{
    position: absolute;
    bottom: 25%;
    right: 0;
    right: -15px;
    @media (max-width: 1670px) {
        right: -7px;
    }
    @media (max-width: 1640px + 15px ) {
        right: 25px - 15px;
    }
    @media (max-width: 1640px) {
        right: 25px;
    }
    @media (max-width: 1604px + 20px) {
        right: 60px - 20px;
    }
    @media (max-width: 1604px) {
        right: 60px;
    }
    @media (max-width: 1604px -15px) {
        right: 60px + 15px;
    }

    @media (max-width: 1570px) {
        right: 100px;
    }
    @media (max-width: 850px) {
        right: 30px;
    }
    @media (max-width: 1000px){
        bottom: 30%;
    }
    @media (max-width: 950px){
        bottom: 20%;
    }
}
.logoSmall{
    height: 155px;
    @media (max-width: 1000px){
        height: 115px;
    }
    @media (max-width: 600px){
        height: 80px;
    }
    @media (max-width: 500px){
        display: none;
    }
}

// SVG colour and movements
/* Basic styling */

.filled-heading {
    // text-transform: uppercase;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-size: 5em;
    // line-height: 0.9;
    @extend .font-acta;
    @extend .font-xxlarge-include-head;
    font-size: 100px;
    letter-spacing: -0.5px;
}

/* Animate the background shapes */
#background path, #backgroundSwiper path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1,
        6s continuouslyMove 1.5s infinite;
    ;
    // transform: scale(1) rotate(0deg);
    /* Necessary to keep the SVG objects in place while scaling */
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes pulse {
    /* Rotating it along with the scale makes it a little bit more fancy */
    0% { transform: scale(0) rotate(33deg); }
    35%, 65%, 100% { transform: scale(1) rotate(0deg); }
}

@keyframes continuouslyMove{
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.5) rotate(70deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}


.svgBox{
    position: relative;
    margin-left: -100px;
    margin-top: -30px;
    @media (max-width: 1400px){
        margin-left: -90px;
    }
    @media (max-width: 1250px){
        margin-left: -100px;
    }
    @media (max-width: 1150px){
        margin-left: -70px;
    }
    @media (max-width: 1000px){
        margin-left: -60px;
    }
    @media (max-width: 900px){
        margin-left: -50px;
    }
    @media (max-width: 500px){
        margin-left: -40px;
        .filled-heading{
            font-size: 107px;
            line-height: 108px;
        }
    }
    .st0{fill:#9E84A7;}
    .st1{fill:#FFDB73;}
    .st2{fill:#B999C3;}
    .st3{fill:#D8BB64;}
    .st4{fill:#72AA94;}
    .st5{fill:#83C6AC;}
    svg {
        width: 100%;
    }
}
.svgBox-swiper{
    @media (max-width: 1100px){
        // margin-left: 0px;
    }
    .filled-heading{
        @media (max-width: 1100px){
            font-size: 110px;
            
        }
        @include mobile-break {
            font-size: 90px;
        }
    }
    @media (max-width: 700px){
        padding-top: 50px;
    }
}
.svgBox-1{
    max-height: 200px;
    overflow: hidden;
}
.svgBox-2{
    max-height: 300px;
    overflow: hidden;
}
.svgBox-3{
    max-height: 315px;
    overflow: hidden;
    @media (max-width: 1150px){
        margin-left: -90px;
    }
    @media (max-width: 900px){
        margin-left: -70px;
        max-height: 275px;
    }
    @media (max-width: 700px){
        max-height: 200px;
        margin-left: -50px;
    } 
    @media (max-width: 600px){
        max-height: 175px;
        margin-left: -30px;
    } 
    @media (max-width: 500px){
        max-height: 150px;
    }
}
.svgBox-4{
    max-height: 400px;
    overflow: hidden;
}
.svgBox-5{
    max-height: 500px;
    overflow: hidden;
}

.svgBox-6{
    svg {
        width: calc(100% + 54px);
        @include mobile {
            width: 100%;
        }
    }
    overflow: hidden;
    margin-left: -54px;
    .filled-heading {
        font-size: 156px;
    }
    @include mobile {
        margin-left: -25px;
    }
}

.home-header {
    .filled-heading {
        // @include mobile-break {
        //     font-size: 110px;
        // }
    }
    .svgBox {
        @media (min-width: 1355px ){
            margin-left: -104px;
            width: 1125px;

        }
    }
}