.u-logo { 
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 11;
    &:hover{
        cursor: pointer;
    }
}
.u-small-svg{
    height: 40px;
    margin: 0 auto;
}
.threeColorVenn{
    height: 500px;
    width: 34%;
    // background-color: red;
    position: absolute;
    margin-top: 18px;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1000px){
        right: -10px;
        
    }
    @media (max-width: 700px){
        width: 100%;
        opacity: 0.3;
        right: auto;
    }
}
.imageTextDiv{
    min-height: 625px;
    @media (max-width: 1100px){
        padding: 0px;
        margin: 0px;
        position: relative;
        height: 750px;
        .filled-heading{
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.image-text{
    position: absolute;
    top: 285px;
    height: 750px;
    background-color: #f2f2f2;
    right: 0;
    width: 80%;    
    z-index: -1;
    transform: translateY(-30%);
    @media (max-width: 1100px){
        transform: none;
        width: 100%;
        top: 0;
        // top: -175px;
    }
    @media (max-width: 850px){
        // top: -60px;
    }
}