.large-caption-box{
    .cream-box {
        height: 733px;
        width: 85%;
        background-size: cover;
        @media(max-width: 1600px) {
            width: 78.5%;
        }
        right: 0;
        top: 0;
        margin-left: auto;
        @include semi-full-screen {
            width: 84%;
        }
        @include mobile-break {
            height: 450px;
        }
    }
    .u-abs.one {
        width: 100%;
        top: 0;
        left: 0;
    }
    .text-cont {
        height: 733px;
        @include mobile-break {
            height: 450px;
        }
    }
    // site pad
    .large-heading {
        margin-left: 35px;
        @media (max-width: 1600px) {
            margin-left: 80px;
        }
        @media (max-width: 1400px) {
            margin-left: 185px;
        }
        @media (max-width: 1300px) {
            margin-left: 80px;
        }
        @include mobile-break{
            margin-left: 30px;
        }
        @include mobile{
            margin-left: 20px;
        }
    }
} 