.mega-menu {
    height: 100vh;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    backdrop-filter: blur(0px);
    // max-height: 915px;
    z-index: 2;
    animation-name: blur;
    animation-fill-mode: forwards;
    overflow:hidden;
    animation-duration: 1s;
    display: none;
    .row {
        margin-left: 0px;
    }
    .col{
        padding-left: 0px;
    }
    .inner {
        animation-name: drop-down;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        transform: translateY(-100%);
        animation-delay:0.3s;
        animation-duration: 0.5s;
    }
    .inner-small {
        padding: 65px;
        height: 100%;
        background-size:cover;
        background-color: #f9f9fa;
        .bold-lilac {
            @extend .font-medium-include;
        }
        .bold-lilac.green strong{
            color: $green;
        }
        .bold-lilac.yellow strong{
            color: $yellow;
        }
        .bold-lilac.blue strong{
            color: $blue;
        }
        &:hover {
            background-color: $cream;
        }
    }
    .inner-small.lilac {
        border-bottom: 5px solid $lilac;
    }
    .inner-small.green {
        border-bottom: 5px solid $green;
    }
    .inner-small.yellow {
        border-bottom: 5px solid $yellow;
    }
    .inner-small.blue {
        border-bottom: 5px solid $blue;
    }
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(8px);
    }
}

@keyframes drop-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}