.hamburgerWrapper {
    @include mobile-break {
        display: block;
    }
}
.mobile-menu {
    @media (min-width: 850px) {
        display: none!important;
    }
    opacity: 0;
    position: fixed;
    height: calc(var(--vh, 1vh) * 100);
    transition: 0.2s;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    animation: fade-in 1s;
    z-index: 100;
    animation-fill-mode: forwards;
    display: none;
    // display: block;
    .menu {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0; 
        color: white;
        padding: 30px;
        animation-name: fade-in;
        animation-delay: 1.2s;
        animation-duration: 0.5s;
        opacity: 0;
        animation-fill-mode: forwards;
        display: flex;
        height: calc(100% - 60px);
        width: calc(100% - 60px);
        padding: 30px;
        @include mobile{
            width: calc(100% - 40px);
            padding: 14px 20px;
            height: calc(100% - 28px);
        }
        align-items: center;
        justify-content: space-between;
        @include mobile {
            align-items: flex-start;
        }
        .js-services-btn {
            position: relative;
            p {
                &:after {
                    content: '+';
                    position: absolute;
                    left: 338px;
                    top: 4px;
                    font-weight: bold;
                    @include mobile {
                        left: 215px;
                    }
                }
            }
        }
        .js-services-btn.open {
            p {
                &:after {
                    content: '-';
                    top: 0px;
                }
            }
        }
        .services {
            height: 0px;
            transition: 0.4s;
            margin-left: 20px;
            overflow: hidden;
            p {
                margin-bottom: 20px !important;
                @include mobile {
                    margin-bottom: 3px!important;
                }
            }
        }
        .services.open {
            padding: 10px 0;
            height: 205px;
            @include mobile {
                height: 110px;
            }
        }
        .controls {
            width: 30%;
            margin-right: 20px;
            @media (max-width:600px){
                width: 100%;
                margin-top: -10px;
            } 
            .logo-cont {
                width: 100%;
                @media (max-width:600px){
                    width: 79%;
                } 
                display: inline-block;
                float: left;
                img {
                    width: 100%;
                    @media (max-width:700px){
                        width: 135px;
                    } 
                    @include mobile {
                        width: 85px;
                    }
                    margin-top: 4px;
                }
            }
            .close {
                top: 62px;
                right: 15px;
                right: 38px;
                position: absolute;
                color: white;
                @media (max-width:600px){
                    top: 42px;
                    right: 15px;
                    right: 18px;
                }  
                p {
                    position: absolute;
                    top: 62%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 35px;
                    margin: 0;
                    @include mobile {
                        position: absolute;
                        top: -7px;
                        left: -57%;
                        transform: translate(-50%, -50%);
                        font-size: 25px;
                        margin: 0;
                    }
                }
                @include mobile {
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    float: right;

                }
            }
        }
        .social {
            // position: absolute;
            position: absolute;
            margin-left: 20px;
            bottom: 20px;
            left: 0;
            img {
                height: 35px;
                margin-right: 15px;
                @include mobile {
                    height: 28px;
                }
            }
            @include mobile {
                position: unset;
                margin-left: 0;
                margin-bottom: -10px;
            }
        }
        @include mobile {
            flex-direction: column;
            margin-top: 0;
        }
        .large-heading {
            margin-top: 15%;
            margin-right: 20%;
            @media (max-width: 600px) {
                margin-right: unset;
            }
            @include mobile {
                // margin-top: -125px;
            }
            p {
                font-size: 60px;
                margin-bottom: 25px;
                color: white;
                @include mobile {
                    font-size: 38.64px;
                    line-height: 33.6px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .pattern {
        opacity: 0;
        background-color: white;
        animation: fade-in 1s;
        z-index: 100;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        height: 100%;
        .svgBox {
            height: 100%;
            svg {
                height: 250%;
                top: -45%;
                position: absolute;
                left: -44%;
                z-index: 1;
                width: unset;
            }
        }
    }
}

#mobile-menu path {
    animation-name: continuouslyMobile;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    // transform: scale(1) rotate(0deg);
    /* Necessary to keep the SVG objects in place while scaling */
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: scale(1.5) rotate(70deg);
    animation-fill-mode: forwards;
    will-change: transform;
}

@keyframes continuouslyMobile{
    0%{
        transform: scale(1.5) rotate(70deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

@keyframes fade-in {
    0% { 
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.animationReset {
    opacity: 1;
    transition: 0.5s;
    animation-name: none;
}