.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: $white;
    height: 125px;
    transform: translateY(-100%);
    animation-fill-mode: forwards;
    animation-name: slide-down;
    animation-duration: 0.3s;
    .mega-menu {
        top: 125px;
    }
    @include mobile {
        height: 70px;
    }
    nav {
        min-height: 125px;
        .logo {
            top: 29px;
        }
        .nav-links {
            top: 55px;
        }
        @include mobile {
            height: 70px;
            min-height: unset;
            .logo {
                top: 6px;
                width: 85px;
            }
            .nav-links {
                top: 20px;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

nav {
    background:transparent;
    position: absolute;
    top: 0;
    // width: calc(100% - 240px);  
    width: calc(100% - 200px);
    min-height: 230px;
    z-index: 100;
    width: calc(100% - 200px);
    left: 100px;
    @media (max-width: 1250px){
        min-height: 80px;
    }
    @media (max-width: 1200px){
        width: calc(100% - 60px);
        left: 30px;
    }
    @include mobile-break{
        width: calc(100% - 60px);
    }
    @include mobile{
        width: calc(100% - 40px);
        left: 20px;
        height: 70px;
        min-height: unset;
    }
} 

.nav-spacing{
    // padding-top: 230px;
    padding-top: 229px;
    margin-left: 0px;
    @media (max-width: 1300px){
        padding-top: 200px;
    }
    @media (max-width: 1000px){
        padding-top: 150px;
    }
}
.nav-links {
    position: absolute;
    right: 0px;
    width: 37%;
    top: 95px;
    z-index: 250;
    @media (max-width: 1300px){
        top:40px;
        width: 60%;
    } 
    @media (max-width: 1200px) {
        right: 70px;
    }
    @media (max-width: 850px){
        right: 0px;
        width: auto;
    }
    a {
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        @extend .font-sm-med-include
    }
    a:hover {
        border-bottom: 1px solid #83c6ac;
        padding-bottom: 5px;
        color: #83c6ac;
        transition: 0.4s;
    }
    .nav-current{
        border-bottom: 1px solid $green;
        padding-bottom: 5px;
        color: $green;
    }
    @include mobile {
        top: 20px;
    }
}
.logo{
    position: absolute;
    left: 0px;
    top: 60px;
    width: 135px;
    z-index: 2;   
    @media (max-width: 1250px){
        top: 25px;
    }
    @include mobile {
        top: 6px;
        width: 85px;
    }
}

.hamburgerWrapper{ 
    display: none;
    //width: 20px;
    color: $black;
    width: 30px;
    cursor: pointer;
    position: relative;
    right: 0;
    height: 30px;
    cursor: pointer;
    .hamburger{    
        transition: .5s ease-in-out; 
        width: 17px;
        height:2px;
        background: $black;
        position: absolute;
        top: 50%;
        right: 0;
        @include mobile{
            right: 10px;
        }
        &:before, &:after{
            right: 0;
            content: '';
            position: absolute;
            width: 12px;
            height:2px;
            background: $black;
        }
        &:after{
            top: 6px;
        }
        &:before{
            width: 17px;
            top: -6px;
            height: 1.5px;
        }
    }  
}