.news-item {
  margin-top: 75px;
  padding-left: 35px;
  opacity: 0;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  transition: 0.3s;
  @media (max-width: 1100px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: auto;
  }
  .inner {
    height: 295px;
    position: relative;
    background-image: url(../images/news.svg);
    background-size: cover;
    transition: 0.3s;
    @media (max-width: 1445px) {
      height: 245px;
    }
    @media (max-width: 1100px) {
      height: 295px;
    }
    .image {
      background-color: #f2f2f2;
      height: calc(100% - 11px);
      width: calc(100% - 10px);
      margin: 5px;
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // background-color: white;
    }
    .has-image {
      background-color: white;
    }
  }
  p {
    max-width: 330px !important;
    margin: auto;
    margin-top: 28px;
    text-align: center;
    padding: 0 20px;
  }
}

.news-row {
  .col {
    padding-left: 35px;
    @include mobile {
      padding-left: 20px;
    }
  }
  .date-picker {
    text-align: right;
    padding-right: 10px;
    @include mobile {
      text-align: center;
    }
  }
}

.newsload {
  margin-top: 75px;
}

.vdp-datepicker {
  display: inline-block;
  margin-left: 15px;
}

.vdp-datepicker * {
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid $blue;
}

.vdp-datepicker__calendar .cell.selected {
  background: $blue;
  color: white;
}

#loader-cont {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  top: 80px;
  .circle {
    background-image: linear-gradient($green, #f2f2f2);
    padding: 3px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 50%;
    border-width: 2px;
    animation: rot 1.3s linear infinite;
    padding: 3px;
  }

  .circle > div {
    background: #f2f2f2;
    height: 95px;
    width: 95px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    border-width: 3px;
  }

  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
