.preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include mobile-break{
        display: block;
    }
    .preview__column{
        height: auto;
        position: relative;
        margin-bottom: 30px;
        &__image{
            width: 100%;
            display: inline-block;
            img{
                width: 100%;
            }
        }
        &__ellipsis{
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        &__navigate{
            padding-bottom: 100px;
            .button{
                position: absolute;
                bottom: 0;
                margin: 0 auto;
            }
        }
    }
}


