.overlay {
    backdrop-filter: blur(0px);
    z-index: 101;
    animation-name: blur;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-duration: 1s;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    display: none;
}
.side-button {
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 103;
    right: -15px;
    top: -68px;
    @media (max-width: 1670px) {
        right: -7px;
    }
    @media (max-width: 1640px + 15px) {
        right: 18px;
    }
    @media (max-width: 1640px) {
        right: 25px;
    }
    @media (max-width: 1604px + 20px) {
        right: 60px - 20px;
    }
    @media (max-width: 1604px) {
        right: 80px;
    }
    @media (max-width: 1604px -15px) {
        right: 60px + 15px;
    }
    @media (max-width: 1565px) {
        right: 100px;
    }
    span {
        width: 35px;
        height: 3px;
        background: #333;
        display: block;
        position: absolute;
        right: 0;
        transition: 0.3;
    }
    span:first-child {
        width: 29px;
        &:after {
            content: "";
            height: 3px;
            width: 3px;
            background: #333;
            position: absolute;
            top: 0;
            left: -6px;
            transition: 0.3;
        }
    }

    span:nth-child(2) {
        top: 7px;
        &:before {
            content: "";
            height: 3px;
            width: 9px;
            background: #333;
            position: absolute;
            top: 0px;
            right: 0.3px;
            transform: rotate(0deg);
            transition: 0.3;
        }
        &:after {
            content: "";
            height: 3px;
            width: 9px;
            background: #333;
            position: absolute;
            top: 0px;
            right: 0.3px;
            transform: rotate(0deg);
            transition: 0.3;
        }
    }
    span:nth-child(3) {
        top: 14px;
        width: 29px;
        transition: 0.3;
        &:after {
            content: "";
            height: 3px;
            width: 3px;
            background: #333;
            position: absolute;
            top: 0;
            left: -6px;
            transition: 0.3;
        }
    }
    cursor: pointer;
}

.side-button.open {
    span:first-child,
    span:nth-child(3) {
        transition: 0.3;
        width: 29px;
        left: 7px;
        &:after {
            left: 0px;
            transition: 0.3;
        }
    }
    span:nth-child(2) {
        top: 7px;
        &:before {
            content: "";
            height: 3px;
            width: 9px;
            background: #333;
            position: absolute;
            top: -2px;
            right: 0.3px;
            transform: rotate(27deg);
            transition: 0.3;
        }
        &:after {
            content: "";
            height: 3px;
            width: 9px;
            background: #333;
            position: absolute;
            top: 2px;
            right: 0.3px;
            transform: rotate(-27deg);
            transition: 0.3;
        }
    }
}

.side-bar {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100vh;
    z-index: 102;
    padding: 75px;
    padding-top: 100px;
    /* transform: translateX(0%); */
    transform: translateX(100%);
    transition: 0.3s;
    $i: 2249;
    $n: 5;
    @while $i > 1685 and $i < 2250 {
        @media (max-width: $i + px) {
            width: (827 - $n) + px;
        }
        $n: $n + 5;
        $i: $i - 5;
    }
    @media (max-width: 1685px) {
        width: 561px;
    }
    .col--12-of-12 {
        max-width: 561px;
    }
    .cell-row {
        width: 100%;
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            height: 1px;
            width: 0;
            background-color: #1d1e1c;
            position: absolute;
            bottom: -1px;
            -webkit-transition: ease 350ms width;
            transition: ease 350ms width;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
    .cell {
        border-bottom: 1px solid #3333336b;
        display: inline-block;
    }
    .cell.title {
        font-family: "Mukta", sans-serif;
    }
    .cell.name {
        width: calc(100% - 60px);
    }
    .cell.type {
        width: 60px;
    }
}

.side-bar.open {
    transform: translateX(0%);
}
