
// Timetable modal
/* The Modal (background) */
.modal {
    z-index: 1000;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    //z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
  

/* The Close Button */
.close {
    color: #b999c3;
    font-family: sans-serif;
    font-size: 30px !important;
    line-height: 30px;
    margin-bottom: 7px;
    margin-right: 16.5px;
    float: right;
    cursor: pointer;
    &:hover, &:focus{
        color: $blue;
        text-decoration: none;
        cursor: pointer;
    }
}

/* Modal Header */
.modal-header {
    padding: 0px 50px;
    padding-top: 50px;
    h3 {
        line-height: 70px;
    }
}

/* Modal Body */
.modal-body {
    padding: 25px 50px;
    p{
        color: $black;
        text-align: left;
    }
}

#pts-description {
    margin-top: 30px
}

#pts-modal-heading {
    margin-bottom: 5px;
}


/* Modal Content */
.modal-content {
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    max-width: 550px;
    margin: 15% auto; /* 15% from the top and centered */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    @media (min-height: 500px){
        margin-top: 2.5%;
    }
    @include mobile-break{
        width: 90%;
    }
    .instructor{
        overflow: hidden;
       img{
        //    width: 100%;
        max-height: 400px;
            margin: 0 auto;
       } 
    }
}

.board-swiper {
    .pledge-button {
        margin-left: 0px;
    }
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
