.sub-heading-swiper {
    padding-bottom: 10px;
    @media (max-width: 700px) {
        padding-top: 0px !important;
    }
}

$size: 0.9;

.swiperTextBlock {
    position: relative;
    @media (max-width: 1525px) {
        img {
            height: 450px;
            margin-bottom: 40px;
        }
    }
    @media (max-width: 1315px) {
        img {
            height: 365px;
            margin-bottom: 119px;
        }
    }
    @media (max-width: 850px) {
        img {
            margin-bottom: 40px;
        }
    }
    &:after {
        content: "";
        width: 850px;
        height: 1050px;
        background: url(../images/swiper-blob.svg) no-repeat;
        background-size: contain;
        top: -50%;
        right: 0px;
        position: absolute;
        display: inline-block;
        z-index: -1;
        @media (max-width: 1100px) {
            height: 650px;
            top: unset;
            right: -319px;
            position: absolute;
            display: inline-block;
            z-index: -1;
            bottom: calc(50% + 100px);
            transform: translateY(50%);
        }
        @media (max-width: 950px) {
            // bottom: 40%;
        }
        @media (max-width: 700px) {
            width: 800px;
            height: 650px;
        }
        @media (max-width: 500px) {
            bottom: 0;
            top: auto;
            height: 300px;
            top: -50%;
            transform: translateY(50%);
            right: -555px;
        }
    }
    .imageDiv {
        display: inline-block;
        // width: 32%;
        // height: 500px;
        background-size: cover;
    }
    .infoSwiperBlock {
        width: 64%;
        @media (max-width: 1525px) {
            width: 64% * $size;
        }
        @media (max-width: 1315px) {
            width: 69%;
        }
        height: 500px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
        @media (max-width: 1100px) {
            width: calc(100% - 75px - 320px);
            height: 550px;
        }
        @media (max-width: 850px) {
            width: 100%;
            display: block;
            padding-top: 0px;
        }
        @media (max-width: 850px) {
            padding-top: 60px;
            height: 300px;
        }
        @include mobile {
            padding-top: 20px;
        }
    }
}
.internetExplorerAlternative {
    display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .internetExplorerHide {
        display: none;
    }
    .internetExplorerAlternative {
        display: block;
    }
}
.swiper-offscreen-container {
    padding-left: 302px;
    padding-right: 100px;
    padding-top: 70px;
    overflow: visible;
    @media (max-width: 1525px) {
        padding-left: 150px;
        padding-right: 100px;
    }
    @media (max-width: 1315px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @media (max-width: 1100px) {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }
    @media (max-width: 850px) {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-classInfo-new {
    .swiper-slide {
        .u-left {
            width: 90%;
            @media (max-width: 1475px) {
                width: 90%;
                text-align: left;
                margin-left: 5%;
            }
            @media (max-width: 850px) {
                width: 100%;
                text-align: left;
                margin-left: 0px;
            }
        }
        text-align: center;
        font-size: 18px;
        background: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 95%;
        height: 100%;
        position: relative;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;

        @media (max-width: 1000px) {
            height: 340px;
        }
        @include mobile-break {
            height: 200px;
        }
        .text {
            height: 180px;
            margin-bottom: 25px;
            overflow-y: scroll;
            p {
                font-family: "Mukta", sans-serif;
            }
            @media (max-width: 1000px) {
                height: 150px;
            }
            @media (max-width: 700px) {
                height: 100px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
            @include mobile {
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
        h3 {
            // font-size: 65px;
            padding-bottom: 20px;
            // width: 80%;
            // @include mobile-break{
            //     width: 100%;
            //     padding-top: 20px;
            // }
        }
        .boldHeading {
            font-size: 65px;
            padding-bottom: 0px;
            @include mobile-break {
                width: 100%;
                font-size: 49px;
                line-height: 50px;
            }
        }
        .mainImage {
            margin: 0 auto;

            position: absolute;
            @extend .u-background;
            background-size: cover;
            height: 100%;
            z-index: 1;
            bottom: 0;
            width: 100%;
            background-color: #e1dacf;
        }
    }
    .holdAndDragg {
        display: none;
    }
    .swiper-slide-active {
        .holdAndDragg {
            display: block;
            @media (max-width: 1100px) {
                display: none;
            }
        }
        .u-left {
            width: 75%;
            text-align: left;
            @media (max-width: 1300px) {
                width: 70%;
            }
            @media (max-width: 850px) {
                width: 100%;
                display: block;
            }
        }
    }
    .swiper-slide:not(.swiper-slide-active) {
        opacity: 0.2;
        button {
            opacity: 0;
        }
    }
    .swiper-slide-next {
        text-align: left;
    }
    .swiper-slide-prev {
        text-align: right;
    }
}

// site pad
.alignTextSwiperWidth {
    // padding-left: 185px + 93px;
    padding-right: 0px;
    @media (max-width: 1450px) {
        padding-left: 185px;
    }
    @media (max-width: 1300px) {
        padding-left: 75px;
    }
    @include mobile-break {
        padding-left: 30px;
    }
    @include mobile-break {
        padding-left: 30px;
    }
    @include mobile {
        padding-left: 20px;
    }
}

.pargraph-with-links {
    .alignTextSwiperWidth {
        @include mobile {
            padding-right: 30px !important;
        }
    }
}

.swiper-button-disabled {
    opacity: 0.2 !important;
}

.swiper-button-infoBlock-next {
    background-image: url("../images/swiper-next.svg");

    z-index: 10;
}
.swiper-button-infoBlock-prev {
    background-image: url("../images/swiper-prev.svg");

    z-index: 10;
}
.swiper-button-infoBlock-prev,
.swiper-button-infoBlock-next {
    &:hover {
        cursor: pointer;
    }
    display: inline-block;
    width: 50px;
    height: 50px;
    @extend .u-background;
}
.swiper-button-infoBlock-next {
    position: absolute;
    bottom: 15%;
    left: 100px;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1300px) {
        bottom: 0%;
    }
    @media (max-width: 1250px) {
        // left: 43%;
    }
    @media (max-width: 1100px) {
        left: 50%;
        z-index: 100;
        transform: translateX(-50%);
        margin-left: 40px;
    }
    @media (max-width: 700px) {
        left: 0px;
        transform: none;
        margin-left: 65px;
    }
}
.swiper-button-infoBlock-prev {
    position: absolute;
    bottom: 15%;
    left: 40px;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1300px) {
        bottom: 0%;
    }
    @media (max-width: 1100px) {
        left: 45%;
        z-index: 100;
        left: 50%;
        transform: translate(-50%);
        margin-left: -40px;
    }
    @media (max-width: 700px) {
        margin-left: 0px;
        left: 0px;
        transform: none;
    }
}

.swiper-button-next {
    background-image: url("../images/swiper-next.svg");
    right: 80px;
    z-index: 10;
}
.swiper-button-prev {
    background-image: url("../images/swiper-prev.svg");
    right: 140px;
    z-index: 10;
}
.swiper-button-prev,
.swiper-button-next {
    &:hover {
        cursor: pointer;
    }
    display: inline-block;
    width: 55px;
    height: 55px;
    @extend .u-background;
}

.board-swiper {
    .js-board-swiper {
        height: 100%;
        overflow: hidden;
        width: 75%;
        display: inline-block;
        float: left;
        .pledge-button {
            margin-left: 0px;
            position: absolute;
            bottom: 20px;
            @include mobile-break {
                bottom: 38px;
            }
        }
        @media (max-width: 1615px) {
            .hide-early {
                display: none;
            }
        }
        @media (max-width: 1250px) {
            width: 80%;
        }
        @media (max-width: 1150px) {
            width: 100%;
        }
        @include mobile-actual-break {
            height: 100%;
        }
        .svg-cont {
            height: 233px;
            margin-top: 30px;
            .svgBox-6 {
                svg {
                    width: 670px;
                }
                .filled-heading {
                    @include mobile-break {
                        font-size: 70px;
                        line-height: 70px;
                    }
                }
            }
            @include mobile {
                margin-top: 0px;
                height: 115px;
                margin-left: -27px;
            }
        }
        .board.col--5-of-12 {
            @include mobile-actual-break {
                height: auto !important;
                margin-bottom: 20px;
            }
        }
        .board-photo {
            background-size: cover;
            // max-width: 365px;
            margin-right: 60px;
            height: 493px;
            background-position: center;
            @media (max-width: 1050px) {
                margin-right: 20px;
            }
            @include mobile-actual-break {
                height: 350px;
                max-width: 350px;
                background-position: top;
            }
        }
        .swiper-wrapper {
            height: calc(100% - 55px);
        }
        .swiper-slide {
            width: 100% !important;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
        }
        .swiper-button-next {
            margin-left: 14px;
        }
    }
    .board-swiper-outer {
        height: 600px;
        @include mobile-actual-break {
            height: 800px;
        }
        .col.height-100 {
            height: 100%;
        }
        .col.col--7-of-12 {
            overflow: scroll;
            margin-bottom: 50px;
            height: calc(100% - 50px);
        }
        .font-medium {
            @include mobile-actual-break {
                margin-top: 30px;
            }
            p {
                line-height: 40px;
                @include mobile {
                    line-height: 30px;
                }
            }
        }
    }

    .js-board-swiper2 {
        height: calc(100% - 106px);
        width: 17%;
        display: inline-block;
        margin-left: 80px;
        @media (max-width: 1450px) {
            width: 16%;
            margin-left: 70px;
        }
        @media (max-width: 1250px) {
            width: 15%;
            margin-left: 50px;
        }
        @media (max-width: 1150px) {
            display: none;
        }
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .swiper-slide {
            background-size: cover;
            background-position: center;
            width: 49.5%;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;
            position: relative;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
        }
    }
}

.height-100 {
    height: 100%;
}
