| {% extends '_layout' %}
| {% block content %}

.nav-cont-outer.js-sticky-nav
    .u-max-l.u-relative
        | {% include '_includes/_core/_nav.html' %}

| {% include '_includes/_core/_mobile-menu.html' %}


| {% if entry.header %}
| {% include '_includes/_matrix-includes/_home-header.html' %}
| {% endif %}



| {% for pC in entry.defaultMatrix.all() %}

| {% if pC.type == 'insightBlockWithList'%}
| {% include '_includes/_matrix-includes/_insight-block-with-list.html' %}
| {% endif %}

| {% if pC.type == 'textSwiper'%}
| {% include '_includes/_matrix-includes/_text-swiper.html' %}
| {% endif %}

| {% if pC.type == 'imageText'%}
| {% include '_includes/_matrix-includes/_image-text.html' %}
| {% endif %}

| {% if pC.type == "paragraph" %}
| {% include '_includes/_matrix-includes/_paragraph.html'%}
| {% endif %}

| {% if pC.type == "contactBlock" %}
| {% include '_includes/_matrix-includes/_contact-block.html'%}
| {% endif %}

| {% if pC.type == 'paragraphWithLink'%}
| {% include '_includes/_matrix-includes/_paragraph-with-link.html' %}
| {% endif %}

| {% if pC.type == 'showContactForm'%}
| {% include '_includes/_matrix-includes/_contact-block.html' %}
| {% endif %}

| {% if pC.type == 'largeCaptionBox'%}
| {% include '_includes/_matrix-includes/_large-caption-box.html' %}
| {% endif %}

| {% if pC.type == 'accordionBlock'%}
| {% include '_includes/_matrix-includes/_accordion.html' %}
| {% endif %}

| {% if pC.type == 'downloads'%}
| {% include '_includes/_matrix-includes/_downloads.html' %}
| {% endif %}

| {% if pC.type == 'donate'%}
| {% include '_includes/_matrix-includes/_donate.html' %}
| {% endif %}

| {% if pC.type == 'boardSwiper'%}
| {% include '_includes/_matrix-includes/_board-swiper.html' %}
| {% endif %}

| {% endfor %}

| {% include '_includes/_core/_footer.html' %}

| {% endblock %}