<script>
    var baseUrl = '{{siteUrl}}';
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script src="{{siteUrl}}build/js/allIncludes.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>

<script src="{{siteUrl}}build/js/michael.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script src="https://unpkg.com/vuejs-datepicker"></script>

<script src="{{siteUrl}}build/js/aos.min.js"></script>

<script src="{{siteUrl}}build/js/main.min.js?v=1"></script>

{# <script src="{{ siteUrl }}build/js/all.min.js?v=1"></script> #}


</body>
</html>