<div class="mega-menu js-mega-menu"><div class="inner u-max-l u-padding-remove-top"><div class="u-padding-remove-top"><div class="row matchHeightWrap">{% set links = craft.entries.section("whatWeDo").all() %}
{% for link in links %}<div class="col col--1-of-3"><a href="{{link.Url}}"><div class="inner-small {{link.colour}}">{% if link.title %}<div class="bold-lilac {{link.colour}}"><strong>{{link.title}}</strong></div>{% endif %}
{% if link.paragraph %}<div class="matchHeightColumn">{{link.paragraph}}</div>{% endif %}</div></a></div>{% endfor %}  </div></div></div></div>