.mega-menu.js-mega-menu
    .inner.u-max-l.u-padding-remove-top
        .u-padding-remove-top
            .row.matchHeightWrap
                | {% set links = craft.entries.section("whatWeDo").all() %}
                | {% for link in links %}
                .col.col--1-of-3
                    a(href="{{link.Url}}")
                        .inner-small(class="{{link.colour}}")
                            | {% if link.title %}
                            .bold-lilac(class="{{link.colour}}")
                                strong {{link.title}}
                            | {% endif %}
                            | {% if link.paragraph %}
                            .matchHeightColumn
                                | {{link.paragraph}}
                            | {% endif %}
                | {% endfor %}  