.mobile-menu.js-mobile-menu-view
  .pattern
    .svgBox
      svg(viewBox='0 0 1112 596')
        g#mobile-menu
          g(transform='translate(300,300)')
            path.st2(d='M144.7-4.1c-17.9,12.6-41,12-61.3,5.4C63-5.3,45.2-18,35.5-37.4C25.7-56.8,24-83,32.6-103 c8.7-20,27.7-33.9,48.9-39.9c21.2-6,44.4-4.2,62.6,9.6c18.1,13.7,31.1,39.3,31.2,65.1C175.4-42.6,162.6-16.7,144.7-4.1z')
          g(transform='translate(300,300)')
            path.st2(d='M-149.2,195.6c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 C-252,77.4-233,63.6-212,57.6c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C-118.7,157.3-131.4,183.1-149.2,195.6z')
          g(transform='translate(300,300)')
            path.st2(d='M-100.2,7.2c-17.8,12.6-40.7,12-61,5.4c-20.3-6.6-37.9-19.2-47.6-38.5c-9.7-19.3-11.4-45.3-2.8-65.2 c8.6-19.9,27.6-33.7,48.6-39.7c21.1-6,44.1-4.1,62.2,9.5c18,13.7,30.9,39.1,31,64.7C-69.7-31.1-82.5-5.3-100.2,7.2z')
          g(transform='translate(300,300)')
            path.st0(d='M49.3-60.3c-6.1,10.8-7.9,24.3-13.2,32c-5.2,7.7-13.9,9.6-22,7.4C6-23-1.6-29.2-9.4-37 c-7.7-7.8-15.6-17.1-17.1-28.7c-1.5-11.5,3.4-25.2,6.9-38.5s5.8-26.2,11.1-35c5.3-8.8,13.7-13.6,22.2-15.3 c8.6-1.6,17.3-0.1,25.9,4.2c8.6,4.3,17.2,11.4,23.2,22.3c6.1,10.9,9.7,25.8,6.3,37.2C65.8-79.2,55.4-71.1,49.3-60.3z')
          g(transform='translate(300,300)')
            path.st1(d='M18.1,25.4C4.7,38.1-6.2,49.1-20,54.5c-13.8,5.4-30.2,5-45-2.4s-27.6-21.8-31-38.3 c-3.4-16.6,2.7-35.4,7.3-56.8s7.8-45.6,19.2-52.7c11.4-7.1,31.1,2.9,48.6,10c17.4,7.2,32.7,11.4,46.3,22.6 C39.1-51.9,51.1-34,49.2-17.8C47.3-1.7,31.5,12.7,18.1,25.4z')
          g(transform='translate(300,300)')
            path.st4(d='M-6-1.7c19-14.4,40.2-20.8,60.1-16.5c19.9,4.4,38.5,19.7,40.4,36.6C96.3,35.4,81.3,54,71.7,73.5 S57.8,113.4,50.9,114c-6.9,0.5-16.3-18.8-35.1-31.6C-2.9,69.6-31,63.3-36.5,49.1C-42.1,34.9-25.1,12.6-6-1.7z')
          g(transform='translate(300,300)')
            path.st5(d='M-11.9-158c-18.2,17.1-38.4,24.9-57.4,19.7c-19-5.3-36.8-23.5-38.5-43.7c-1.8-20.2,12.5-42.5,21.7-65.8 c9.2-23.3,13.3-47.7,19.8-48.3c6.5-0.6,15.5,22.5,33.4,37.8c17.9,15.3,44.7,22.7,50,39.7C22.5-201.7,6.3-175.1-11.9-158z')
          g(transform='translate(300,300)')
            path.st5(d='M143.7-136.7c-24,18.7-50.7,27.1-75.8,21.5C42.8-121,19.3-140.9,17-163c-2.3-22.1,16.5-46.3,28.7-71.8 c12.1-25.4,17.6-52,26.2-52.7c8.7-0.7,20.5,24.5,44.2,41.2c23.6,16.7,59.1,24.8,66.1,43.3C189.2-184.4,167.8-155.4,143.7-136.7 z')
          g(transform='translate(300,300)')
            path.st5(d='M-158.3,269.4c-22.8,17.2-48.2,25-72.1,19.8c-23.8-5.3-46.2-23.6-48.4-43.9c-2.2-20.3,15.7-42.7,27.3-66.1 c11.5-23.4,16.7-47.8,24.9-48.5c8.2-0.6,19.5,22.6,42,37.9c22.5,15.4,56.1,22.8,62.8,39.9 C-115.1,225.5-135.5,252.2-158.3,269.4z')
          g(transform='translate(300,300)')
            path.st4(d='M-18.1-47.5c-8.1,6.2-22.4,3.7-32.5,0.6c-10.1-3.2-16-7-26.6-5.9c-10.5,1.1-25.7,7.3-34.3,3 c-8.6-4.3-10.6-18.9-14.2-36.5c-3.6-17.6-8.8-38.3-3-52.4c5.8-14.1,22.6-21.5,37.4-19.8c14.8,1.7,27.6,12.7,42.9,17.3 c15.3,4.6,33.2,2.9,40.5,11.5c7.4,8.6,4.3,27.5,1.8,44.4C-8.3-68.5-10.1-53.7-18.1-47.5z')
          g(transform='translate(300,300)')
            path.st3(d='M-154.3,58.2c-14,24.9-29.2,50.7-49.4,59.4c-20.2,8.7-45.4,0.3-60.6-19c-15.1-19.4-20.2-49.5-24.4-76.5 c-4.3-26.9-7.7-50.6-5.5-77.4c2.2-26.8,10.1-56.8,25.8-66.4c15.7-9.6,39.1,1.1,60.8,9.2c21.7,8.1,41.7,13.6,57,29.6 c15.2,16,25.7,42.4,24.5,67.4C-127.4,9.6-140.3,33.4-154.3,58.2z')
          g(transform='translate(300,300)')
            path.st1(d='M258.6-146.6c-8.3,17.4-10,40.8-19.5,49.6c-9.6,8.7-27,2.9-46.4,2c-19.3-0.9-40.6,3-48.6-8.1 c-8-11.2-2.7-37.5-9.3-60.4c-6.6-22.8-25.1-42.3-22.3-54.8c2.9-12.5,27.1-18,44.7-23c17.7-5,28.6-9.5,43.8-21.1 c15.2-11.6,34.6-30.3,42.3-23.5c7.7,6.8,3.7,39.2,10.7,60c7,20.8,24.8,30,26.3,40.4C281.8-175.3,266.8-163.9,258.6-146.6z')
          g(transform='translate(300,300)')
            path.st5(d='M-44.6,75.6c-8.3,17.4-10,40.8-19.5,49.6c-9.6,8.7-27,2.9-46.4,2c-19.3-0.9-40.6,3-48.6-8.1 c-8-11.2-2.7-37.5-9.3-60.4c-6.6-22.8-25.1-42.3-22.3-54.8c2.9-12.5,27.1-18,44.7-23c17.7-5,28.6-9.5,43.8-21.1 s34.6-30.3,42.3-23.5c7.7,6.8,3.7,39.2,10.7,60c7,20.8,24.8,30,26.3,40.4C-21.4,46.9-36.3,58.3-44.6,75.6z')
          g(transform='translate(300,300)')
            path.st5(d='M169.1,158.5c-15.6,6.4-55.2-25.9-75-59.4C74.2,65.8,62.3,30.4,76.3,1.3c14-29,54.1-51.7,75.7-40.4 c21.6,11.3,24.6,56.7,24.5,101.5C176.3,107.1,184.7,152.2,169.1,158.5z')
          g(transform='translate(300,300)')
            path.st1(d='M-99.5-87.8c-15.6,6.4-43.3-25-63.2-58.5c-19.9-33.4-31.8-68.7-17.8-97.8c14-29,54.1-51.7,75.7-40.4 c21.6,11.3,24.6,56.7,24.5,101.5C-80.4-138.3-83.9-94.2-99.5-87.8z')
          g(transform='translate(300,300)')
            path.st5(d='M-163-98.6c-16.4,17.8-49.3,24.3-70.6,8.7c-21.3-15.5-30.9-53.1-28.3-85.6c2.6-32.5,17.5-60,36.8-73.9 c19.3-13.8,42.9-14,56.6-3.7c13.7,10.3,17.5,31.2,19.5,46.1c2,14.8,2.2,23.6,2.3,42.5C-146.6-145.4-146.6-116.4-163-98.6z')
          g(transform='translate(300,300)')
            path.st2(d='M41.7-122.9c-15.3,16.5-45.8,22.5-65.5,8.1c-19.7-14.4-28.7-49.3-26.3-79.5c2.4-30.2,16.3-55.7,34.1-68.6 c17.9-12.8,39.8-13,52.5-3.4c12.7,9.6,16.2,29,18.1,42.8c1.9,13.8,2.1,21.9,2.2,39.5C57-166.4,57-139.4,41.7-122.9z')
          g(transform='translate(300,300)')
            path.st2(d='M25.8,164.9c-17.7,16.4-43,21.9-62.7,14c-19.6-7.9-33.5-29.4-34.7-48.3c-1.2-18.9,10.1-35.1,18-52.7 c7.8-17.5,12.1-36.4,20.4-39.4c8.3-2.9,20.6,9.9,37.4,21.8c16.8,11.9,38,22.8,43.7,41.9C53.4,121.4,43.5,148.5,25.8,164.9z')

  .menu
    .controls
      .logo-cont
        img.lazy.loading(src='{{siteUrl}}build/images/logo-white.svg', alt='Nav Logo', data-was-processed='true')
      .close.js-mobile-menu
        p ✕
    .large-heading
      a(href="{{siteUrl}}about-us")
        p About
      a(href="#").js-services-btn
        p What we do
      .services
        a(href="{{siteUrl}}what-we-do/insight")
          p Insight
        a(href="{{siteUrl}}what-we-do/philanthropy")
          p Philanthropy
        a(href="{{siteUrl}}what-we-do/policy")
          p Policy
      a(href="{{siteUrl}}news")
        p News
      a(href="{{siteUrl}}about")
        p Contact
      a(href="{{siteUrl}}about")
        p Donate
    .social
      img(src="{{siteUrl}}build/images/fb-icon-white.svg", alt="Facebook icon")
      img(src="{{siteUrl}}build/images/insta-icon-white.svg", alt="Instagram icon")
      img(src="{{siteUrl}}build/images/twitter-icon-white.svg", alt="Twitter icon")


         
