nav
    .logo
        a(href="{{siteUrl}}")
            img(src="{{ siteUrl }}build/images/logo.svg", alt="Nav Logo").lazy
    .nav-links.u-flex.u-flex__space
        a(href="{{siteUrl}}about-us" class="{% if craft.request.lastSegment == 'about-us' %}nav-current{%endif%}").mobile-hide about
        a(href="#" class="{% if craft.request.lastSegment == 'lorem ipsum' %}nav-current{%endif%}").mobile-hide.js-mega-btn what we do
        a(href="{{siteUrl}}news" class="{% if craft.request.segments|last == 'news' or craft.request.segments|first == 'news' %}nav-current{%endif%}").mobile-hide news
        a(href="{{siteUrl}}contact" class="{% if craft.request.lastSegment == 'contact'%}nav-current{%endif%}").mobile-hide contact
        a(href="{{siteUrl}}donate" class="{% if craft.request.lastSegment == 'contact'%}nav-current{%endif%}").mobile-hide.lilac-text donate

        .hamburgerWrapper.js-mobile-menu
            .hamburger
    | {% include '_includes/_core/_mega-menu.html' %}